.cursor {
  cursor: pointer;
}

.formataCol {
  height: 44vh;
  text-align: center;
}

.graficos {
  width: 40hv;
  height: 40vh;
  border: 1px solid;
  border-color: #d3d3d3;
  border-radius: 4px;
  text-align: center;
}