.centralizar {
  position: absolute;
  left: 50%;
  top: 25%;
  transform: translate(-50%, -50%);
  min-height: 25%;
  min-width: 20%;
}

.infIgreja {
  background-color: rgb(185, 199, 172);
  width: 150px;
  height: 180px;
  margin-top: 15%;
}

.infSecretaria {
  background-color: rgb(216, 175, 24);
  width: 150px;
  height: 180px;
  margin-top: 15%;

  
}
mat-card-title {
  text-align: center;
}

.cursor{
  cursor: pointer;
}