<div style="padding-top: 1% ;">
    <div style="display: flex;">
        <div class="col formataCol">
           <div id="historicoIgreja" class="graficos"></div>
        </div>
        <div class="col formataCol">
           <div id="historicoPendencias" class="graficos"></div>
        </div>
    </div>
   

    <!-- <div style="display: flex;">
        <div class="col formataCol">
           <div id="main" class="graficos"></div>
        </div>
        <div class="col formataCol">
           <div id="main" class="graficos"></div>
        </div>
    </div> -->

</div>




<!-- <app-organograma></app-organograma> -->