<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Home</title>
</head>

<body>
  <mat-drawer-container class="drawer-container" autosize>
    <mat-drawer #drawer class="drawer-sidenav" mode="side" opened="true">
      <!-- <p>Auto-resizing sidenav</p>
      <p *ngIf="showFiller">Lorem, ipsum dolor sit amet consectetur.</p> -->
      <!-- <button (click)="showFiller = !showFiller" mat-raised-button>
        Toggle extra text
      </button> -->

      <mat-nav-list *ngIf="tUsuarioLogado === 1">
        <a mat-list-item routerLink="/"><i class="material-icons">home</i> Menu</a>
        <hr style="margin: 0px" />

        <a mat-list-item [matMenuTriggerFor]="menu"><i class="material-icons">settings</i> Configurações</a>
        <mat-menu #menu="matMenu">
          <a mat-menu-item>
            <a mat-list-item routerLink="/igreja"><i class="material-icons">church</i>Igreja</a>
            <hr />
            <a mat-list-item routerLink="/assinaturas"><i class="material-icons">payments</i>Assinaturas</a>
          </a>
        </mat-menu>
        <hr style="margin: 0px" />

        <a mat-list-item routerLink="/filhos"><mat-icon
            style="padding-right: 2px;">family_restroom</mat-icon>Crianças</a>

        <hr style="margin: 0px" />


        <a mat-list-item routerLink="/ofertas"><i class="material-icons">attach_money</i>EBD</a>



        <a mat-list-item routerLink="/membros"><i class="material-icons">people</i> Membros</a>

        <hr style="margin: 0px" />

        <a mat-list-item routerLink="/ofertas"><i class="material-icons">attach_money</i> Ofertas</a>

        <hr style="margin: 0px" />

        <a mat-list-item routerLink="/relatorios"><i class="material-icons">assignment</i>Relatórios</a>

        <hr style="margin: 0px" />



        <mat-tree [dataSource]="dataSource" [treeControl]="treeControl" class="example-tree">
          <mat-tree-node *matTreeNodeDef="let node" matTreeNodeToggle>
            {{node.name}}
          </mat-tree-node>

          <mat-nested-tree-node *matTreeNodeDef="let node; when: hasChild">
            <div class="mat-tree-node">
              <button mat-icon-button matTreeNodeToggle [attr.aria-label]="'Toggle ' + node.name">
                <mat-icon class="mat-icon-rtl-mirror">
                  {{treeControl.isExpanded(node) ? 'expand_more' : 'chevron_right'}}
                </mat-icon>
              </button>
              {{node.name}}
            </div>
            <!-- There is inline padding applied to this div using styles.
          This padding value depends on the mat-icon-button width.  -->
            <div [class.example-tree-invisible]="!treeControl.isExpanded(node)" role="group">
              <ng-container matTreeNodeOutlet></ng-container>
            </div>
          </mat-nested-tree-node>
        </mat-tree>





        <!-- <a mat-list-item [matMenuTriggerFor]="menuservicos"><i class="material-icons">services</i>Serviços</a>
        <mat-menu #menuservicos="matMenu">
          <a mat-menu-item>
            <a mat-list-item routerLink="/igreja"><i class="material-icons">church</i>Certificados</a>
            <hr />
            <a mat-list-item routerLink="/assinaturas"><i class="material-icons">payments</i>Assinaturas</a>
          </a>
        </mat-menu> -->

        <hr style="margin: 0px" />

        <a mat-list-item (click)="logoof()"><i class="material-icons">exit_to_app</i>Sair</a>
      </mat-nav-list>

      <mat-nav-list *ngIf="tUsuarioLogado === 2">
        <a mat-list-item routerLink="/"><i class="material-icons">home</i> Menu</a>

        <hr style="margin: 0px" />

        <a mat-list-item routerLink="/filhos"><mat-icon
            style="padding-right: 2px;">family_restroom</mat-icon>Crianças</a>

        <hr style="margin: 0px" />

        <a *ngIf="ValidaFaturas" mat-list-item routerLink="/financeiro"><i
            class="material-icons">payments</i>Assinatura</a>

        <hr style="margin: 0px" />

        <a mat-list-item routerLink="/membros"><i class="material-icons">people</i> Membros</a>

        <hr style="margin: 0px" />

        <a mat-list-item routerLink="/relatorios"><i class="material-icons">assignment</i>Relatórios</a>

        <hr style="margin: 0px" />

        <a mat-list-item (click)="logoof()"><i class="material-icons">exit_to_app</i>Sair</a>

      </mat-nav-list>

      <mat-nav-list *ngIf="tUsuarioLogado === 3">
        <a mat-list-item routerLink="/"><i class="material-icons">home</i> Menu</a>
        <a mat-list-item (click)="logoof()"><i class="material-icons">exit_to_app</i>Sair</a>
      </mat-nav-list>

      <mat-nav-list *ngIf="tUsuarioLogado === 4">
        <a mat-list-item routerLink="/"><i class="material-icons">home</i> Menu</a>

        <hr style="margin: 0px" />

        <a mat-list-item routerLink="/ofertas"><i class="material-icons">attach_money</i> Ofertas</a>

        <hr style="margin: 0px" />

        <a mat-list-item (click)="logoof()"><i class="material-icons">exit_to_app</i>Sair</a>
      </mat-nav-list>

      <mat-nav-list *ngIf="tUsuarioLogado === 5">
        <a mat-list-item routerLink="/"><i class="material-icons">home</i> Menu</a>

        <hr style="margin: 0px" />

        <a mat-list-item routerLink="/filhos"><mat-icon
            style="padding-right: 2px;">family_restroom</mat-icon>Crianças</a>

        <hr style="margin: 0px" />

        <a mat-list-item (click)="logoof()"><i class="material-icons">exit_to_app</i>Sair</a>
      </mat-nav-list>

      <mat-nav-list *ngIf="tUsuarioLogado === 6">
        <a mat-list-item routerLink="/"><i class="material-icons">home</i> Menu</a>
        <a mat-list-item routerLink="/filhos"><mat-icon
            style="padding-right: 2px;">family_restroom</mat-icon>Adolescentes</a>

        <hr style="margin: 0px" />

        <a mat-list-item (click)="logoof()"><i class="material-icons">exit_to_app</i>Sair</a>
      </mat-nav-list>


    </mat-drawer>
    <div>
      <mat-toolbar color="primary">
        <mat-icon matTooltip="Navegar!" (click)="drawer.toggle()">menu</mat-icon>
      </mat-toolbar>
      <div class="drawer-sidenav-content">
        <router-outlet></router-outlet>
      </div>
    </div>
  </mat-drawer-container>
</body>

</html>