<div *ngIf="!isLoggedIn">
<mat-card class="centralizar">
  <mat-card-title><i class="material-icons">account_box</i></mat-card-title>
      <form class="classform">
          <mat-form-field > 
              <input matInput placeholder="dominio" 
               [(ngModel)]="sessao.dominio" name="name" placeholder="Igreja">
               
          </mat-form-field>

          <mat-form-field > 
              <input matInput placeholder="login" 
               [(ngModel)]="sessao.usuario" name="name" placeholder="login">
               
          </mat-form-field>
         
          <mat-form-field >
              <input matInput placeholder="senha"
              [(ngModel)]="sessao.senha" type="password" name="senha" (keypress)="login($event)">
              
          </mat-form-field>
          <h1>{{userPassword}}</h1>
      </form>
      
          <div>
              <button *ngIf="sessao.dominio && sessao.usuario && sessao.senha" class="button" mat-raised-button (click)="login($event)"  color="primary"> 
                  Login
              </button> 
          </div>

</mat-card>        
</div>