<div class="centralizar ">
    <div class="alinhar">
        <div class="row">
            <div class="ajusteInterno">
                <label>Pastor</label>
                <br />
                <label>Moisés Macedo</label>
            </div>
        </div>
    </div>
   <div class="hrVertical"></div>
</div>


<div class="centralizar">
    <div class="alinhar">
        <div class="row">
            <div class="ajusteInterno">
                <label>Co-ajusteInterno</label>
                <br />
                <label>Jonas Dias</label>
            </div>
        </div>
    </div>
</div>

<div class="centralizar">
    <div class="alinhar">

        <div class="row">
            <div class="ajusteInterno">
                <label>ajusteInternoes</label>
                <br />
                <label>Manoel 1</label>
            </div>
        </div>

        <div class="row">
            <div class="ajusteInterno">
                <label>ajusteInternoes</label>
                <br />
                <label>Manoel 2</label>
            </div>
        </div>
    </div>
</div>

<div class="centralizar">
    <div class="alinhar">

        <div class="row">
            <div class="ajusteInterno">
                <label>Evangelistas</label>
                <br />
                <label>Evangelista 1</label>
            </div>
        </div>

        <div class="row">
            <div class="ajusteInterno">
                <label>Evangelistas</label>
                <br />
                <label>Evangelista 2</label>
            </div>
        </div>

        <div class="row">
            <div class="ajusteInterno">
                <label>Evangelistas</label>
                <br />
                <label>Evangelista 3</label>
            </div>
        </div>

    </div>
</div>


<div class="centralizar">
    <div class="alinhar">

        <div class="row">
            <div class="ajusteInterno">
                <label>Presbíteros</label>
                <br />
                <label>Presbítero</label>
            </div>
        </div>

        <div class="row">
            <div class="ajusteInterno">
                <label>Presbíteros</label>
                <br />
                <label>Presbítero 2</label>
            </div>
        </div>

        <div class="row">
            <div class="ajusteInterno">
                <label>Presbíteros</label>
                <br />
                <label>Presbítero 3</label>
            </div>
        </div>

        <div class="row">
            <div class="ajusteInterno">
                <label>Presbíteros</label>
                <br />
                <label>Presbítero 4</label>
            </div>
        </div>

    </div>
</div>


<div class="centralizar">
    <div class="alinhar">

        <div class="row">
            <div class="ajusteInterno">
                <label>Diácono</label>
                <br />
                <label>Emerson</label>
            </div>
        </div>

        <div class="row">
            <div class="ajusteInterno">
                <label>Diácono</label>
                <br />
                <label>Wagner</label>
            </div>
        </div>

        <div class="row">
            <div class="ajusteInterno">
                <label>Diácono</label>
                <br />
                <label>Joilson</label>
            </div>
        </div>

        <div class="row">
            <div class="ajusteInterno">
                <label>Diácono</label>
                <br />
                <label>Ailton</label>
            </div>
        </div>

        <div class="row">
            <div class="ajusteInterno">
                <label>Diácono</label>
                <br />
                <label>Pagé</label>
            </div>
        </div>

    </div>
</div>

<div class="centralizar">
    <div class="alinhar">

        <div class="row">
            <div class="ajusteInterno">
                <label>Cooperadores</label>
                <br />
                <label>Alberto</label>
            </div>
        </div>

        <div class="row">
            <div class="ajusteInterno">
                <label>Cooperadores</label>
                <br />
                <label>José Francisco</label>
            </div>
        </div>

        <div class="row">
            <div class="ajusteInterno">
                <label>Cooperadores</label>
                <br />
                <label>Edilberto</label>
            </div>
        </div>

        <div class="row">
            <div class="ajusteInterno">
                <label>Cooperadores</label>
                <br />
                <label>Mauro</label>
            </div>
        </div>

        <div class="row">
            <div class="ajusteInterno">
                <label>Cooperadores</label>
                <br />
                <label>joão</label>
            </div>
        </div>

        <div class="row">
            <div class="ajusteInterno">
                <label>Cooperadores</label>
                <br />
                <label>Leandro</label>
            </div>
        </div>

        <div class="row">
            <div class="ajusteInterno">
                <label>Cooperadores</label>
                <br />
                <label>Luis</label>
            </div>
        </div>
        <div class="row">
            <div class="ajusteInterno">
                <label>Cooperadores</label>
                <br />
                <label>joão</label>
            </div>
        </div>

        <div class="row">
            <div class="ajusteInterno">
                <label>Cooperadores</label>
                <br />
                <label>Leandro</label>
            </div>
        </div>
    </div>
</div>



