<div style="padding: 30px;">
    <h1>{{titulo}}</h1>

    <div class="mat-elevation-z4" style="height:450px; width: 1000px; overflow: auto;padding-top: 3%;">
        <table mat-table [dataSource]="datasource" matSort class="mat-elevation-z8 demo-table">

            <mat-header-row *matHeaderRowDef="Colunas"></mat-header-row>
            <mat-row style="height: 10%;" *matRowDef="let row; columns: Colunas;"></mat-row>
         
            <ng-container matColumnDef="nome">
                <mat-header-cell *matHeaderCellDef mat-sort-header>Nome</mat-header-cell>
                <mat-cell *matCellDef="let row">{{row.nome}}</mat-cell>
            </ng-container>

            <!-- Função -->
            <ng-container matColumnDef="funcao">
                <mat-header-cell mat-sort-header *matHeaderCellDef mat-sort-header>Função</mat-header-cell>
                <mat-cell *matCellDef="let row">{{row.funcao}}</mat-cell>
            </ng-container>

            <!-- status -->
            <ng-container matColumnDef="statusPessoa">
                <mat-header-cell mat-sort-header *matHeaderCellDef mat-sort-header>Status</mat-header-cell>
                <mat-cell *matCellDef="let row">{{row.statusPessoa}}</mat-cell>
            </ng-container>

        </table>
    </div>
    <mat-paginator #paginator [pageSize]="8" [pageSizeOptions]="[8]" showFirstLastButtons>
    </mat-paginator>
</div>