<div style="padding: 15px;">

    <h3>Controle de Presença, reunião de obreiros e Santa Ceia</h3>

    <label>Nome : {{dados.nome}}</label>
    <br />
    <hr />
    <div style="display: flex; padding: 15px;">
        <mat-form-field appearance="outline">
            <mat-label>Selecione a Opção</mat-label>
            <mat-select [(value)]="tipoPresencaSelecionado" placeholder="Tipo de documento">
                <mat-option *ngFor="let cmb of comboTipoPresenca" [value]="cmb.id">
                    {{cmb.value}}
                </mat-option>
            </mat-select>
        </mat-form-field>

        <mat-form-field color="accent" style="width: 213px;" appearance="outline">
            <mat-label>Data</mat-label>
            <input matInput [matDatepicker]="dataPresenca" [(ngModel)]="controlePresenca.data" name="data">
            <mat-datepicker-toggle matIconSuffix [for]="dataPresenca"></mat-datepicker-toggle>
            <mat-datepicker #dataPresenca></mat-datepicker>
        </mat-form-field>

        
        <mat-form-field color="accent" style="width: 350px;" appearance="outline">
            <mat-select [(value)]="justificativaSelecionada" placeholder="Tipo de Justificativa"
                (selectionChange)="TipoJustificativa()">
                <mat-option *ngFor="let pr of tipoJustificativaPresenca" [value]="pr.id">
                    {{pr.value}}
                </mat-option>
            </mat-select>
        </mat-form-field>

        <mat-form-field *ngIf="exibiroutros" style="width: 490px;" appearance="outline">
            <mat-label>Motivo</mat-label>
            <input matInput placeholder="Motivo" [(ngModel)]="controlePresenca.motivo" name="motivo">
        </mat-form-field>

        <span *ngIf="tipoPresencaSelecionado > 0 && justificativaSelecionada > 0 "
            style="padding-left: 3px; padding-top: 1.5%;" (click)="Salvar()">
            <mat-icon>save</mat-icon>
        </span>
    </div>
</div>