<!-- barra de menu -->
<div style="display: flex; padding: 1%;" class="row">
    <div class="col">
      <div style="display: flex;">
  
        <a >
          <i style="padding-right: 10px;" class="material-icons">add_circle_outline</i>
        </a>
      </div>
    </div>
    <div class="col">
  
      <!-- <div style="display: flex;">
        <mat-select style="appearance: outline;" [(value)]="igrejaSelecionada" (selectionChange)="AlterarBuscaIgreja()"
          placeholder="Igreja">
          <mat-option [value]="0">Voltar</mat-option>
          <mat-option *ngFor="let li of listaIgrejas" [value]="li.id">
            {{li.nome}}
          </mat-option>
        </mat-select>
      </div> -->
  
    </div>
    <div class="col">
      <div style="text-align: right; padding-right: 120px;">
        <input style="margin-top: 1px;" id="txtBusca" class="txtBusca" type="text" (keypress)="Filtros($event)" value=""
          placeholder="pesquisar por NOME ou ROL." />
  
        <span style="margin-top: 1px;" class="search" (click)="Filtros($event)">
          <i class="material-icons">search</i>
        </span>
      </div>
    </div>
  </div>


  <div class="mat-elevation-z4" style="height:74%; width: 100%;overflow: auto;">
    <table mat-table [dataSource]="datasource" matSort class="mat-elevation-z8 demo-table">
      <!-- Id Column -->
      <ng-container matColumnDef="id">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Id</mat-header-cell>
        <mat-cell *matCellDef="let row">{{row.id}}</mat-cell>
      </ng-container>
      <!-- rol Column -->
      <ng-container matColumnDef="idAssinatura">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Id Assinatura</mat-header-cell>
        <mat-cell *matCellDef="let row">{{row.idAssinatura}}</mat-cell>
      </ng-container>
  
      <ng-container matColumnDef="numeroCobranca">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Nº Cobrança</mat-header-cell>
        <mat-cell *matCellDef="let row">{{row.numeroCobranca}}</mat-cell>
      </ng-container>
  
      <!-- Name Column -->
      <ng-container matColumnDef="linkBoleto">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Link Boleto</mat-header-cell>
        <mat-cell *matCellDef="let row">{{row.linkBoleto}}</mat-cell>
      </ng-container>

      <!-- Data nascimento -->
      <ng-container matColumnDef="dataVencimento">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Data Vencimento</mat-header-cell>
        <mat-cell *matCellDef="let row">{{row.dataVencimento | date : 'dd/MM/yyyy'}}</mat-cell>
      </ng-container>
  
      <!-- Função -->
      <ng-container matColumnDef="tolerancia">
        <mat-header-cell mat-sort-header *matHeaderCellDef mat-sort-header>Tolerância</mat-header-cell>
        <mat-cell *matCellDef="let row">{{row.tolerancia}}</mat-cell>
      </ng-container>
  
  
      <!-- status -->
      <ng-container matColumnDef="statusPagamento">
        <mat-header-cell mat-sort-header *matHeaderCellDef mat-sort-header>Status Pagamento</mat-header-cell>
        <mat-cell *matCellDef="let row">{{row.statusPagamento ? 'Pago' : 'Pendente'}}</mat-cell>
      </ng-container>
  
      <!-- Coluna de Ações -->
  
      <ng-container matColumnDef="action">
        <mat-header-cell *matHeaderCellDef>Ações</mat-header-cell>
        <mat-cell *matCellDef="let row">
          <!-- <mat-icon class="cursor" matTooltip="Editar Cadastro!" (click)="AtualizarMembro(row.id)">edit</mat-icon>
          <mat-icon class="cursor" matTooltip="Impressão da ficha de membro!"
            *ngIf="!filtros.inativos && !filtros.precadastro" (click)="ImprimirFichaMembro(row.id)">print</mat-icon>
          <mat-icon class="cursor" matTooltip="Solicitação de Cartas!" *ngIf="!filtros.inativos && !filtros.precadastro"
            (click)="Cartas(row.id)">mail_outline</mat-icon>
          <mat-icon class="cursor" matTooltip="Filhos!" *ngIf="!filtros.inativos && !filtros.precadastro"
            (click)="Filhos(row.id)">family_restroom</mat-icon>
          <mat-icon class="cursor" matTooltip="Justificar Presença!" *ngIf="!filtros.inativos && !filtros.precadastro"
            (click)="JustificarPresenca(row.id)">task_alt</mat-icon>
          <mat-icon class="cursor" matTooltip="Unificar Cadastro!" *ngIf="!filtros.inativos && !filtros.precadastro"
            (click)="UnificarCadastro(row.id)">join_left</mat-icon>
          <mat-icon class="cursor" matTooltip="Histórico da Pessoa!" *ngIf="!filtros.precadastro"
            (click)="HistoricoMembro(row.id)">list_alt</mat-icon>
          <mat-icon class="cursor" matTooltip="Baixa manual de Membro!" *ngIf="!filtros.inativos"
            (click)="ExcluirMembro(row.id)">delete</mat-icon> -->
  
        </mat-cell>
      </ng-container>
  
      <mat-header-row *matHeaderRowDef="Colunas"></mat-header-row>
      <mat-row style="height: 10%;" (click)="LinhaSelecionada(row.id)" *matRowDef="let row; columns: Colunas;"
        [ngClass]="{'corLinhaGrid' : row.id == idLinhaSelecionada}"></mat-row>
    </table>
  </div>
  <mat-paginator #paginator [pageSize]="13" [pageSizeOptions]="[13]" showFirstLastButtons>
  </mat-paginator>