<div>
  <h3 style="padding-left: 15px;">Minhas Faturas</h3>


  <table mat-table [dataSource]="datasource" matSort class="mat-elevation-z4">

    <ng-container matColumnDef="numeroCobranca">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Nº Boleto</mat-header-cell>
      <mat-cell *matCellDef="let row">{{row.numeroCobranca}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="linkBoleto">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Link Boleto</mat-header-cell>
      <mat-cell *matCellDef="let row">
        <mat-icon *ngIf="row.linkBoleto && !row.statusPagamento" style="color: #EA3323;"
          (click)="ImprimirBoleto(row.linkBoleto)">picture_as_pdf</mat-icon>
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="dataVencimento">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Vencimento</mat-header-cell>
      <mat-cell *matCellDef="let row">{{row.dataVencimento | date : 'dd/MM/yyyy'}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="statusPagamento">
      <mat-header-cell mat-sort-header *matHeaderCellDef mat-sort-header>Status</mat-header-cell>
      <mat-cell *matCellDef="let row">
        <div
          style="width: 77px; text-align: center; border: 1px; border-style: outset; padding: 4px; color: {{row.statusPagamento ? '#28a745' : '#f44336'}};">
          {{row.statusPagamento ? 'Pago' : 'Em aberto'}}
        </div>
      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="Colunas"></mat-header-row>
    <mat-row style="height: 10%;" (click)="LinhaSelecionada(row.id)" *matRowDef="let row; columns: Colunas;"
      [ngClass]="{'corLinhaGrid' : row.id == idLinhaSelecionada}"></mat-row>
  </table>
  <mat-paginator style="padding-right: 50px;" #paginator [pageSize]="13" [pageSizeOptions]="[13]" showFirstLastButtons></mat-paginator>
</div>