<!-- barra de menu -->
<div style="display: flex; padding: 1%;" class="row">
  <div class="col">
    <div style="display: flex; text-align: center;">
      Minhas faturas
    </div>
  </div>
  <div class="col">
  </div>
  <div class="col">
    <div style="text-align: right; padding-right: 120px;">
      <input style="margin-top: 1px;" id="txtBusca" class="txtBusca" type="text" (keypress)="Filtros($event)" value=""
        placeholder="pesquisar por NOME ou ROL." />

      <span style="margin-top: 1px;" class="search" (click)="Filtros($event)">
        <i class="material-icons">search</i>
      </span>
    </div>
  </div>
</div>

<div class="mat-elevation-z4" style="height:74%; width: 100%;overflow: auto;">
  <table mat-table [dataSource]="datasource" matSort class="mat-elevation-z8 demo-table">
    <!-- Id Column -->
    <ng-container matColumnDef="id">
      <mat-header-cell *matHeaderCellDef [hidden]="true" mat-sort-header>Id</mat-header-cell>
      <mat-cell *matCellDef="let row" [hidden]="true">{{row.id}}</mat-cell>
    </ng-container>
    <!-- rol Column -->
    <ng-container matColumnDef="assinaturaId">
      <mat-header-cell *matHeaderCellDef [hidden]="true" mat-sort-header>Assinatura</mat-header-cell>
      <mat-cell *matCellDef="let row" [hidden]="true">{{row.assinaturaId}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="numeroCobranca">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Nº Boleto</mat-header-cell>
      <mat-cell *matCellDef="let row">{{row.numeroCobranca}}</mat-cell>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="linkBoleto">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Link Boleto</mat-header-cell>
      <mat-cell *matCellDef="let row">
        <mat-icon *ngIf="row.linkBoleto && !row.statusPagamento" style="color: #EA3323;">picture_as_pdf</mat-icon>
      </mat-cell>
    </ng-container>

    <!-- Data nascimento -->
    <ng-container matColumnDef="dataVencimento">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Vencimento</mat-header-cell>
      <mat-cell *matCellDef="let row">{{row.dataVencimento | date : 'dd/MM/yyyy'}}</mat-cell>
    </ng-container>

    <!-- status -->
    <ng-container matColumnDef="statusPagamento">
      <mat-header-cell mat-sort-header *matHeaderCellDef mat-sort-header>Status</mat-header-cell>
      <mat-cell *matCellDef="let row">
        <div
          style="width: 77px; text-align: center; border: 1px; border-style: outset; padding: 4px; color: {{row.statusPagamento ? '#28a745' : '#f44336'}};">
          {{row.statusPagamento ? 'Pago' : 'Em aberto'}}
        </div>
      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="Colunas"></mat-header-row>
    <mat-row style="height: 10%;" (click)="LinhaSelecionada(row.id)" *matRowDef="let row; columns: Colunas;"
      [ngClass]="{'corLinhaGrid' : row.id == idLinhaSelecionada}"></mat-row>
  </table>
</div>
<mat-paginator #paginator [pageSize]="13" [pageSizeOptions]="[13]" showFirstLastButtons>
</mat-paginator>