<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, max-scale=1.0">
  <title>Membros</title>
</head>

<body>

  <div style="display: flex; padding: 1%;" class="row">
    <div class="col">
      <div style="display: flex;">

        <a routerLink="/membrosadd">
          <i style="padding-right: 10px;" class="material-icons">add_circle_outline</i>
        </a>

        <a>
          Inativos
          <input name="inativos" [(ngModel)]="filtros.inativos" [checked]="filtros.inativos" type="checkbox"
            (change)="Filtros($event)" (click)="filtros.periodoSelecionado = 1">

          Pré Cadastro
          <input name="precadastro" [(ngModel)]="filtros.precadastro" [checked]="filtros.precadastro" type="checkbox"
            (change)="Filtros($event)" (click)="filtros.periodoSelecionado = 2">

          Obreiros
          <input name="obreiros" [(ngModel)]="filtros.obreiros" [checked]="filtros.obreiros" type="checkbox"
            (change)="Filtros($event)" (click)="filtros.periodoSelecionado = 3">
        </a>
      </div>
    </div>

    <div *ngIf="sede.length > 0" class="col-md-2">
      <mat-select style="appearance: outline;" [(value)]="sedeSelecionada" placeholder="Selecione Sede">
        <mat-option (click)="BuscarSubsedes(li.id)" *ngFor="let li of sede" [value]="li.id">
          {{li.nome}}
        </mat-option>
      </mat-select>
    </div>
    <div *ngIf="subsedes.length > 0" class="col-md-2">
      <mat-select style="appearance: outline;" [(value)]="subsedeSelecionada" placeholder="Selecione uma Filial">
        <mat-option (click)="Congregacoes(li.id)" *ngFor="let li of subsedes" [value]="li.id">
          {{li.nome}}
        </mat-option>
      </mat-select>
    </div>
    <div *ngIf="congregacoes.length > 0" class="col-md-2">
      <mat-select style="appearance: outline;" [(value)]="congregacaoselecionada"
        placeholder="Selecione uma congregação">
        <mat-option (click)="FiltrarCongregacao(li.id)" *ngFor="let li of congregacoes" [value]="li.id">
          {{li.nome}}
        </mat-option>
      </mat-select>
    </div>

    <div class="col">
      <div style="text-align: right; padding-right: 15px;">

        <input style="margin-top: 1px;" id="txtBusca" class="txtBusca" type="text" (keypress)="Filtros($event)" value=""
          placeholder="pesquisar por NOME ou ROL." />

        <mat-icon class="cursor" style="padding:9px; font-size: large;" (click)="Filtros($event)">search</mat-icon>
      </div>
    </div>
  </div>

  <table mat-table [dataSource]="datasource" matSort>
    <!-- Id Column -->
    <ng-container matColumnDef="id">
      <mat-header-cell style="display: none;" *matHeaderCellDef hidden="true">Id</mat-header-cell>
      <mat-cell style="display: none;" id="idPessoa" *matCellDef="let row">{{row.id}}</mat-cell>
    </ng-container>
    <!-- rol Column -->
    <ng-container matColumnDef="rol">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Rol</mat-header-cell>
      <mat-cell *matCellDef="let row">{{row.rol}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="foto">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Foto</mat-header-cell>
      <mat-cell *matCellDef="let row">
        <img *ngIf="row.foto !='' " style="width: 10px; border-radius: 100%;" src="{{row.foto}}" alt="Foto">
      </mat-cell>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="nome">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Nome</mat-header-cell>
      <mat-cell *matCellDef="let row">{{row.nome}}</mat-cell>
    </ng-container>
    <!-- Data nascimento -->
    <ng-container matColumnDef="dataNascimento">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Data Nascimento</mat-header-cell>
      <mat-cell *matCellDef="let row">{{row.dataNascimento | date : 'dd/MM/yyyy'}}</mat-cell>
    </ng-container>

    <!-- Função -->
    <ng-container matColumnDef="funcao">
      <mat-header-cell mat-sort-header *matHeaderCellDef mat-sort-header>Função</mat-header-cell>
      <mat-cell *matCellDef="let row">{{row.funcao}}</mat-cell>
    </ng-container>


    <!-- status -->
    <ng-container matColumnDef="statusPessoa">
      <mat-header-cell mat-sort-header *matHeaderCellDef mat-sort-header>Status</mat-header-cell>
      <mat-cell *matCellDef="let row">{{row.statusPessoa}}</mat-cell>
    </ng-container>

    <!-- Coluna de Ações -->

    <ng-container matColumnDef="action">
      <mat-header-cell *matHeaderCellDef>Ações</mat-header-cell>
      <mat-cell *matCellDef="let row">
        <mat-icon class="cursor" matTooltip="Editar Cadastro!" (click)="AtualizarMembro(row.id)">edit</mat-icon>
        <mat-icon class="cursor" matTooltip="Impressão da ficha de membro!"
          *ngIf="!filtros.inativos && !filtros.precadastro" (click)="ImprimirFichaMembro(row)">print</mat-icon>
        <mat-icon class="cursor" matTooltip="Solicitação de Cartas!" *ngIf="!filtros.inativos && !filtros.precadastro"
          (click)="Cartas(row.id)">mail_outline</mat-icon>
        <mat-icon class="cursor" matTooltip="Filhos!" *ngIf="!filtros.inativos && !filtros.precadastro"
          (click)="Filhos(row.id)">family_restroom</mat-icon>
        <mat-icon class="cursor" matTooltip="Justificar Presença!" *ngIf="!filtros.inativos && !filtros.precadastro"
          (click)="JustificarPresenca(row.id)">task_alt</mat-icon>
        <mat-icon class="cursor" matTooltip="Unificar Cadastro!" *ngIf="!filtros.inativos && !filtros.precadastro"
          (click)="UnificarCadastro(row.id)">join_left</mat-icon>
        <mat-icon class="cursor" matTooltip="Histórico da Pessoa!" *ngIf="!filtros.precadastro"
          (click)="HistoricoMembro(row.id)">list_alt</mat-icon>
        <mat-icon class="cursor" matTooltip="Baixa manual de Membro!" *ngIf="!filtros.inativos"
          (click)="ExcluirMembro(row.id)">delete</mat-icon>

      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="Colunas"></mat-header-row>
    <mat-row style="height: 10%;" (click)="PessoaSelecionada(row.id)" *matRowDef="let row; columns: Colunas;"
      [ngClass]="{'corLinhaGrid' : row.id == pessoaSelecionada}"></mat-row>
  </table>

  <mat-paginator #paginator [pageSize]="13" [pageSizeOptions]="[13]" showFirstLastButtons></mat-paginator>

</body>

</html>