<div class="menuInternoGrid">
  <a routerLink="/membrosadd">
    <i class="material-icons">add_circle_outline</i>
  </a>

  <a style="position: absolute;">
    Inativos
    <input name="Inativos" [(ngModel)]="filtros.Inativos" [checked]="filtros.Inativos" type="checkbox"
      (change)="Filtros($event)">
  </a>

  <span class="search" (click)="Filtros($event)">
    <i class="material-icons">search</i>
  </span>
  <input id="txtBusca" class="txtBusca" type="text" (keypress)="Filtros($event)" value="" />
</div>

<!-- <label>Inativos</label> -->

<div class="mat-elevation-z4" style="height:73%; width: 100%;overflow: auto;">
  <table mat-table [dataSource]="datasource" class="mat-elevation-z8 demo-table">
    <!-- Id Column -->
    <ng-container matColumnDef="id">
      <th mat-header-cell style="display: none;" *matHeaderCellDef hidden="true">Id</th>
      <td mat-cell style="display: none;" id="idPessoa" *matCellDef="let row">{{row.id}}</td>
    </ng-container>
    <!-- rol Column -->
    <ng-container matColumnDef="rol">
      <th style="width:7%;" mat-header-cell *matHeaderCellDef>Rol</th>
      <td style="width:7%;" mat-cell *matCellDef="let row">{{row.rol}}
      <td>
    </ng-container>



    <ng-container matColumnDef="foto">
      <th style="width:7%;" mat-header-cell *matHeaderCellDef>Foto</th>
      <td id="foto" mat-cell *matCellDef="let row">
        <img *ngIf="row.foto !='' " style="width: 10px; border-radius: 100%;" src="{{row.foto}}" alt="Foto">
      </td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="nome">
      <th style="width: 31.5%;" mat-header-cell *matHeaderCellDef>Nome</th>
      <td style="padding-left: 5%;width: 35%;" mat-cell *matCellDef="let row">{{row.nome}}</td>
    </ng-container>
    <!-- Data nascimento -->
    <ng-container matColumnDef="dataNascimento">
      <th style="width: 15%;" mat-header-cell *matHeaderCellDef>Data Nascimento</th>
      <td mat-cell *matCellDef="let row">{{row.dataNascimento | date : 'dd/MM/yyyy'}}</td>
    </ng-container>

    <!-- Função -->
    <ng-container matColumnDef="funcao">
      <th style="width: 12%;" mat-header-cell *matHeaderCellDef>Função</th>
      <td style="padding-left: 7%;width: 16%;" mat-cell *matCellDef="let row">{{row.funcao}}</td>
    </ng-container>


    <!-- status -->
    <ng-container matColumnDef="statusPessoa">
      <th style="width: 14%;" mat-header-cell *matHeaderCellDef>Status</th>
      <td style="padding-left: 2.8%;width: 13%;" mat-cell *matCellDef="let row">{{row.statusPessoa}}</td>
    </ng-container>

    <!-- Coluna de Ações -->
    <ng-container matColumnDef="action">
      <th style="width: 14%;" mat-header-cell *matHeaderCellDef>Ações</th>
      <td style="padding-left: 3.5%; height: 21px;width: 16%;" mat-cell *matCellDef="let row">
          <a (click)="AtualizarMembro(row.id)" class="edit">
            <i class="material-icons" style="line-height: unset;" >
              edit
            </i>
          </a>
          <a *ngIf="!filtros.Inativos" (click)="ExcluirMembro(row.id)" class="delete">
            <i class="material-icons" style="line-height: unset;">
              delete
            </i>
          </a>
      </td>
    </ng-container>

    <mat-header-row *matHeaderRowDef="Colunas"></mat-header-row>
    <mat-row style="height: 10%;" (click)="PessoaSelecionada(row.id)" *matRowDef="let row; columns: Colunas;"
      [ngClass]="{'corLinhaGrid' : row.id == pessoaSelecionada}"></mat-row>
  </table>
</div>

<mat-paginator #paginator [pageSizeOptions]="[8, 50, 100]" showFirstLastButtons
  aria-label="Select page of periodic elements">
</mat-paginator>