<div style="padding: 30px;">
  <div style="text-align: left;">
    <h2>{{this.idDocumento > 0 ? 'DOCUMENTO | EDITAR' : 'DOCUMENTO | ENVIAR'}}</h2>
  </div>
  <div style="display: flex;">
    <div class="col-md-10">
      <mat-label>Nome: {{pessoaNome}} </mat-label>
    </div>
    <div class="col-md-2" style="text-align: end;">
      <mat-icon (click)="CapturarFoto($event)">add_a_photo</mat-icon>
    </div>
  </div>
  <hr />
  <mat-form-field appearance="outline">
    <mat-label>Descrição</mat-label>
    <input matInput placeholder="Descrição" [(ngModel)]="dadosDocumento.descricao" name="nome">
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Tipo de documento</mat-label>
    <mat-select [(value)]="dadosDocumento.tipoDocumento" placeholder="Tipo de documento">
      <mat-option *ngFor="let dc of tipoDocumento" [value]="dc.id">
        {{dc.value}}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <br />

  <div *ngIf="!dadosDocumento.id" class="row">
    <div class="col" style="padding-top: 30px;">
      <div style="padding-top: 10px;">
        <h4 *ngIf="dadosDocumento.nomeArqFisico" style="font-weight: 500;">Arquivo Selecionado:
          {{dadosDocumento.nomeArqFisico}} </h4>
        <input style="display: none" type="file" accept="image/*, application/pdf" (change)="SelecionarArquivo($event)"
          #fileInput>
        <button mat-button color="primary" style="margin-right: 60px;" (click)="fileInput.click()">Selecione o
          Documento</button>
      </div>
    </div>

  </div>

  <hr />
  <div style="text-align: end;">
    <span class="cursor"
      *ngIf="dadosDocumento.descricao && dadosDocumento.tipoDocumento >= 0 && dadosDocumento.nomeArqFisico"
      (click)="Salvar()">
      <i class="material-icons">save</i>
    </span>
  </div>
</div>