<div style="padding: 30px;">
    <h1 style="padding-left: 10px;">ALTERAÇÃO | DADOS DE ACESSO</h1>

    <mat-form-field appearance="outline">
        <mat-label>Usuario</mat-label>
        <input matInput placeholder="Usuário" [(ngModel)]="usuario.nomeUsuario" name="Usuario">
    </mat-form-field>


    <mat-form-field appearance="outline">
        <mat-label>Senha</mat-label>
        <input type="password" matInput placeholder="Senha" [(ngModel)]="usuario.senha" name="senha">
    </mat-form-field>

    <mat-form-field appearance="outline">
        <mat-label>Ativo</mat-label>
        <input style="height: 20px; width: 150px;" matInput placeholder="Ativo">
        <input name="ativo" [(ngModel)]="usuario.ativo" [checked]="usuario.ativo" type="checkbox">
    </mat-form-field>

    <mat-form-field appearance="outline">
        <mat-label>Tipo de Usuário</mat-label>
        <mat-select [(value)]="usuario.tipoUsuario" placeholder="Tipo de Usuario">
            <mat-option *ngFor="let tu of tipousuarios" [value]="tu.id">
                {{tu.value}}
            </mat-option>
        </mat-select>
    </mat-form-field>
    <br />
    <div style="text-align: end;">
        <span class="cursor" *ngIf="usuario.nomeUsuario && usuario.tipoUsuario" (click)="Salvar()">
            <i class="material-icons">save</i>
        </span>
    </div>
</div>