<div style="text-align:center;padding: 30px;">
    <h1>
        {{mensagemCamera}}
    </h1>

    <div>
        <webcam [height]="altura" [width]="largura" [trigger]="triggerObservable" (imageCapture)="handleImage($event)"
            *ngIf="showWebcam" [allowCameraSwitch]="allowCameraSwitch" [switchCamera]="nextWebcamObservable"
            [videoOptions]="videoOptions" [imageQuality]="1" (cameraSwitched)="cameraWasSwitched($event)"
            (initError)="handleInitError($event)">
        </webcam>
        <br>

        <button mat-button color="primary" (click)="triggerSnapshot()">Capturar imagem</button>
       
    </div>
</div>
