<div style="padding: 15px;">

    <h3>Solicitações de cartas</h3>


    <label>Nome : {{dados.nome}}</label>
    <br />
    <hr />
    <div style="display: flex; padding: 15px;">
        <mat-form-field style="width:300px">
            <mat-label>Informe o Tipo de documento</mat-label>
            <mat-select [(value)]="relatorioSelecionado" placeholder="Tipo de documento">
                <mat-option *ngFor="let cmb of comboCartas" [value]="cmb.id">
                    {{cmb.value}}
                </mat-option>
            </mat-select>
        </mat-form-field>

        <div *ngIf="relatorioSelecionado >= 13 && relatorioSelecionado <= 14 ">
            <mat-form-field>
                <mat-label>Cidade Destino</mat-label>
                <input matInput placeholder="Informe a cidade Destino" [(ngModel)]="dadosSolicitacao.cidade"
                    name="Cidade">
            </mat-form-field>

            <mat-form-field>
                <mat-label>Estado Destino</mat-label>
                <input matInput placeholder="Informe Estado Destino" [(ngModel)]="dadosSolicitacao.estado"
                    name="estado">
            </mat-form-field>
        </div>

        <div *ngIf="relatorioSelecionado >= 15 && relatorioSelecionado <= 16 && !PastorIgreja">
            <mat-form-field>
                <mat-label>Nome da Igreja Destino</mat-label>
                <input matInput placeholder="Informe o nome da Igreja Destino"
                    [(ngModel)]="dadosSolicitacao.igrejaDestino" name="igreja">
            </mat-form-field>
        </div>

        <div *ngIf="relatorioSelecionado >= 15 && relatorioSelecionado <= 16 && PastorIgreja">

            <mat-form-field>
                <mat-label>Nome da Igreja Destino</mat-label>
                <input matInput placeholder="Nome da Igreja Destino" [(ngModel)]="dadosSolicitacao.igrejaDestino"
                    name="igreja">
            </mat-form-field>

            <mat-form-field>
                <mat-label>Novo pastor da igreja</mat-label>
                <mat-select [(value)]="dadosSolicitacao.idNovoPastor" placeholder="Novo pastor da igreja">
                    <mat-option *ngFor="let pe of pessoas" [value]="pe.id">
                        {{pe.nome}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <br />

    </div>

    <div *ngIf="relatorioSelecionado >= 15 && relatorioSelecionado <= 16 && PastorIgreja">
        <label style="background-color: chartreuse;">
            Obs: Em caso de Mudança do pastor da igreja, além da baixa automática do cadastro,
            se faz necessário informar
            <br />
            o nome do novo pastor da igreja.
            <div style="text-align: center;">
                Tem certeza que quer emitir a carta de mudança ?
            </div>
        </label>
    </div>


    <div *ngIf="relatorioSelecionado >= 15 && relatorioSelecionado <= 16 && !PastorIgreja ">
        <label style="background-color: chartreuse;">
            Obs: Em caso de carta de Mudança, a baixa do Membro é automática <br />
            e em caso de carta de mudança de Casal a baixa será realizada do casal.

            <div style="text-align: center;">
                Tem certeza que quer emitir a carta de mudança ?
            </div>

        </label>
    </div>


    <div style="padding-left: 15px;" *ngIf="relatorioSelecionado >= 22 && relatorioSelecionado <= 23 && !PastorIgreja">

        <mat-form-field style="width:300px">
            <mat-label>Igreja destino</mat-label>
            <mat-select [(value)]="idIgrejaSelecionada" placeholder="Selecione a Igreja destino">
                <mat-option *ngFor="let ig of igrejas" [value]="ig.id">
                    {{ig.nome}}
                </mat-option>
            </mat-select>
        </mat-form-field>

        <div style="text-align: center;">
            A carta de Mudança interna, altera o membro de igreja, <br />
            Após a alteração apenas o secretário da outra igreja pode alterar. <br />
            Deseja realmente emitir a carta?
        </div>
    </div>

    <div style="padding-left: 15px; text-align: left;"
        *ngIf="relatorioSelecionado >= 22 && relatorioSelecionado <= 23 && PastorIgreja">

        <div>

            <mat-form-field style="width:300px">
                <mat-label>Igreja destino</mat-label>
                <mat-select [(value)]="idIgrejaSelecionada" placeholder="Selecione a Igreja destino">
                    <mat-option *ngFor="let ig of igrejas" [value]="ig.id">
                        {{ig.nome}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
            <br />
            <mat-form-field style="width:300px">
                <mat-label>Novo pastor da igreja</mat-label>
                <mat-select [(value)]="dadosSolicitacao.idNovoPastor" placeholder="Novo pastor da igreja">
                    <mat-option *ngFor="let pe of pessoas" [value]="pe.id">
                        {{pe.nome}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
            <br />
            <label style="background-color: chartreuse; padding-left: 15px;">
                Obs: Em caso de Mudança interna do pastor <br />
                da igreja, o cadastro vai automaticamente <br />
                pra outra igreja como pré cadastro.       <br />
                Obrigatório selecionar o novo pastor da   <br />
                igreja.
                <div style="text-align: left;">
                    Tem certeza que quer emitir a <br />
                    carta de mudança ?
                </div>
            </label>
        </div>
    </div>



    <br />

    <mat-card-content class="alinhar">
        <a (click)="FecharPopup(false)">
            <i class="material-icons">
                cancel
            </i>
        </a>
        <a *ngIf="dadosSolicitacao.cidade && dadosSolicitacao.estado && relatorioSelecionado >= 13 && relatorioSelecionado <= 14"
            (click)="FecharPopup(true)">
            <i class="material-icons icones">
                thumb_up_alt
            </i>
        </a>
        <a *ngIf="dadosSolicitacao.igrejaDestino && relatorioSelecionado >= 15 && relatorioSelecionado <= 16 && !PastorIgreja"
            (click)="FecharPopup(true)">
            <i class="material-icons icones">
                thumb_up_alt
            </i>
        </a>

        <a *ngIf="dadosSolicitacao.igrejaDestino && dadosSolicitacao.idNovoPastor > 0 && relatorioSelecionado >= 15 && relatorioSelecionado <= 16 && PastorIgreja"
            (click)="FecharPopup(true)">
            <i class="material-icons icones">
                thumb_up_alt
            </i>
        </a>

        <a *ngIf="idIgrejaSelecionada > 0 && relatorioSelecionado >= 22 && relatorioSelecionado <= 23 && !PastorIgreja"
            (click)="FecharPopup(true)">
            <i class="material-icons icones">
                thumb_up_alt
            </i>
        </a>

        <a *ngIf="idIgrejaSelecionada > 0 && relatorioSelecionado >= 22 && relatorioSelecionado <= 23 && dadosSolicitacao.idNovoPastor > 0 && PastorIgreja"
            (click)="FecharPopup(true)">
            <i class="material-icons icones">
                thumb_up_alt
            </i>
        </a>
    </mat-card-content>
</div>