<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, max-scale=1.0">

  <title>Cadastro de Membros</title>
</head>

<body>

  <mat-accordion style="background-color: honeydew;" class="example-headers-align">
    <mat-expansion-panel *ngIf="step >= 0" [expanded]="step === 0" (opened)="setStep(0)" hideToggle>
      <mat-expansion-panel-header>
        <mat-panel-title>
          <h2>Informações Pessoais</h2>
        </mat-panel-title>
        <mat-panel-description>
          Nome, Rg, Cpf etc...
        </mat-panel-description>
      </mat-expansion-panel-header>
      <div class="mat-elevation-z8">
        <div *ngIf="!spinner" class="row">
          <div class="col-md-11" style="padding-top: 15px;">
            <mat-form-field style="padding-left: 17px;" appearance="outline">
              <mat-label>Nome</mat-label>
              <input matInput placeholder="Obrigatório" [(ngModel)]="pessoa.nome" name="nome">
            </mat-form-field>

            <mat-form-field appearance="outline">
              <mat-label>RG</mat-label>
              <input matInput placeholder="RG" [(ngModel)]="pessoa.rg" name="RG">
            </mat-form-field>

            <mat-form-field appearance="outline">
              <mat-label>CPF</mat-label>
              <input [disabled]="pessoa.id > 0 && cpfbloqueado  ? true : false" class="number" matInput
                placeholder="CPF" [(ngModel)]="pessoa.cpf" name="cpf">
            </mat-form-field>

            <mat-form-field appearance="outline">
              <mat-label>Estado Civil</mat-label>
              <mat-select [(value)]="pessoa.estadoCivil" placeholder="Estado Civil"
                (selectionChange)="LimparCampoConjuge()">
                <mat-option *ngFor="let ec of estCivil" [value]="ec.id">
                  {{ec.value}}
                </mat-option>
              </mat-select>
            </mat-form-field>

            <mat-form-field color="accent" style="width: 220px;" appearance="outline">
              <mat-label>Data Nascimento</mat-label>
              <mat-label style="font-weight: 600; padding-left: 25px;font-size: 18px;">{{pessoa.dataNascimento != null
                &&
                idade > 0 ? idade +
                ' Anos' : ''}} </mat-label>
              <input matInput [matDatepicker]="dataNascimento" [(ngModel)]="pessoa.dataNascimento"
                name="dataNascimento">
              <mat-datepicker-toggle matIconSuffix [for]="dataNascimento"></mat-datepicker-toggle>
              <mat-datepicker #dataNascimento></mat-datepicker>
            </mat-form-field>

            <mat-form-field appearance="outline">
              <mat-label>Profissão</mat-label>
              <input matInput placeholder="Profissão" [(ngModel)]="pessoa.profissao" name="profissao">
            </mat-form-field>

            <mat-form-field appearance="outline">
              <mat-label>Grau de Instrução</mat-label>
              <mat-select [(value)]="pessoa.grauInstrucao" placeholder="Grau Instrução">
                <mat-option *ngFor="let i of instrucao" [value]="i.id">
                  {{i.value}}
                </mat-option>
              </mat-select>
            </mat-form-field>

            <mat-form-field appearance="outline">
              <mat-label>Sexo</mat-label>
              <mat-select [(value)]="pessoa.sexo" placeholder="Sexo">
                <mat-option *ngFor="let s of sexo" [value]="s.id">
                  {{s.value}}
                </mat-option>
              </mat-select>
            </mat-form-field>


            <mat-form-field appearance="outline">
              <mat-label>Situação</mat-label>
              <mat-select [(value)]="pessoa.statusPessoa" placeholder="Situação" (selectionChange)="AlteraSituacao()">
                <mat-option *ngFor="let sp of statusPessoa" [value]="sp.id">
                  {{sp.value}}
                </mat-option>
              </mat-select>
            </mat-form-field>

            <mat-form-field appearance="outline">
              <mat-label>Cidade onde nasceu</mat-label>
              <input matInput placeholder="Cidade onde nasceu" [(ngModel)]="pessoa.naturalidade" name="naturalidade">
            </mat-form-field>

            <mat-form-field appearance="outline">
              <mat-label>Estado onde nasceu</mat-label>
              <input matInput placeholder="Estado onde nasceu" [(ngModel)]="pessoa.naturalidadeEstado"
                name="naturalidadeEstado">
            </mat-form-field>

            <mat-form-field appearance="outline">
              <mat-label>CPF Conjuje</mat-label>
              <div style="display: flex;">
                <input matTooltip="CPF Conjuje" matInput placeholder="CPF Conjuje" [(ngModel)]="pessoa.cpfConjuge"
                  name="cpfConjuge" (keypress)="BuscarConjuje($event)">
                <mat-icon (click)="BuscarConjuje($event)">search</mat-icon>
              </div>
            </mat-form-field>

            <mat-form-field appearance="outline">
              <mat-label>Nome do Conjuge</mat-label>
              <input matInput placeholder="Nome do Conjuge" [(ngModel)]="pessoa.nomeConjuge" name="nomeConjuge">
            </mat-form-field>

            <mat-form-field color="accent" style="width: 220px;" appearance="outline">
              <mat-label>Data Casamento</mat-label>
              <mat-label style="font-weight: 600; padding-left: 5px;font-size: 14px;">{{pessoa.dataCasamento != null &&
                idadeCasado > 0 ?
                idadeCasado + ' Anos de Casado' : '' }}</mat-label>
              <input style="padding-top: 5px;" matInput [matDatepicker]="dataCasamento"
                [(ngModel)]="pessoa.dataCasamento" name="dataCasamento">
              <mat-datepicker-toggle matSuffix [for]="dataCasamento"></mat-datepicker-toggle>
              <mat-datepicker #dataCasamento></mat-datepicker>
            </mat-form-field>

            <mat-form-field appearance="outline">
              <mat-label>Idoso</mat-label>
              <input style="height: 20px; width: 150px;" matInput placeholder="Idoso">
              <input name="idoso" [(ngModel)]="pessoa.idoso" [checked]="pessoa.idoso" type="checkbox">
            </mat-form-field>

            <mat-form-field appearance="outline">
              <mat-label>Nome do Pai</mat-label>
              <input matInput placeholder="Nome do Pai" [(ngModel)]="pessoa.nomePai" name="nomePai">
            </mat-form-field>

            <mat-form-field appearance="outline">
              <mat-label>Nome da Mãe</mat-label>
              <input matInput placeholder="Nome da Mãe" [(ngModel)]="pessoa.nomeMae" name="nomeMae">
            </mat-form-field>

            <mat-form-field *ngIf="!cpfbloqueado" appearance="outline">
              <mat-label>igreja</mat-label>
              <mat-select [(value)]="pessoa.igrejaId" placeholder="Igreja">
                <mat-option *ngFor="let ig of igrejas" [value]="ig.id">
                  {{ig.nome}}
                </mat-option>
              </mat-select>
            </mat-form-field>

          </div>
          <div class="col-md-1">
            <div class="classDivBorda">
              <div>

                <img *ngIf="pessoa.id > 0 && this.pessoa.fotoCadastrada" class="classImagem" src="{{fotoPerfil}}"
                  alt="Imagem">
                <br>

              </div>
              <div style="padding-top: 10px;">
                <div style="padding-left: 30px;">
                  <mat-icon *ngIf="!this.pessoa.fotoCadastrada" class="cursor"
                    (click)="CapturarFoto($event)">add_a_photo</mat-icon>
                </div>
                <input style="display: none" type="file" accept="image/*" (change)="ImportarFotoPerfil($event)"
                  #fileInput>
                <button mat-button color="primary" *ngIf="!this.pessoa.fotoCadastrada" style="margin-right: 60px;"
                  (click)="fileInput.click()">Selecione</button>

                <button mat-button color="primary" *ngIf="this.pessoa.fotoCadastrada" style="margin-right: 60px;"
                  (click)="RemoverFoto(pessoa.id)">Excluir</button>
              </div>
            </div>

          </div>

        </div>
        <div style="text-align: -webkit-center;">
          <mat-spinner *ngIf="spinner"></mat-spinner>
        </div>
      </div>

      <mat-action-row>
        <button *ngIf="pessoa.nome && pessoa.id > 0" mat-button color="primary"
          routerLink="/membros/{{pessoa.nome.split(' ')[0]}}">Voltar</button>
        <button [disabled]="spinner" mat-button color="primary" (click)="Proximo()">Salvar</button>
      </mat-action-row>

    </mat-expansion-panel>

    <mat-expansion-panel *ngIf="pessoa.id > 0" [expanded]="step === 7" (opened)="setStep(7)" hideToggle>
      <mat-expansion-panel-header>
        <mat-panel-title>
          <h2>Cópia de Documentos</h2>
        </mat-panel-title>
        <mat-panel-description>
          Cópias de documentos Pessoais
          <mat-icon>map</mat-icon>
        </mat-panel-description>
      </mat-expansion-panel-header>

      <mat-icon (click)="AdicionarNovoDocumento()">add_circle_outline</mat-icon>

      <div class="mat-elevation-z8">
        <table mat-table [dataSource]="documentos" matSort>

          <mat-header-row *matHeaderRowDef="colunasDocumentos"></mat-header-row>

          <ng-container matColumnDef="id">
            <mat-header-cell *matHeaderCellDef>Id</mat-header-cell>
            <mat-cell id="data" *matCellDef="let row">{{row.id}}</mat-cell>
          </ng-container>

          <ng-container matColumnDef="data">
            <mat-header-cell *matHeaderCellDef>Data</mat-header-cell>
            <mat-cell id="data" *matCellDef="let row">{{row.data | date : 'dd/MM/yyyy hh:mm:ss'}}</mat-cell>
          </ng-container>

          <ng-container matColumnDef="descricao">
            <mat-header-cell *matHeaderCellDef>Descrição</mat-header-cell>
            <mat-cell id="descricao" *matCellDef="let row">{{row.descricao}}</mat-cell>
          </ng-container>

          <ng-container matColumnDef="tipoDocumento">
            <mat-header-cell *matHeaderCellDef>Tipo de Documento</mat-header-cell>
            <mat-cell id="tipoDocumento" *matCellDef="let row">{{row.tipoDocumento}}</mat-cell>
          </ng-container>

          <ng-container matColumnDef="action">
            <mat-header-cell *matHeaderCellDef>Ações</mat-header-cell>
            <mat-cell *matCellDef="let row">
              <mat-icon class="cursor" matTooltip="Visualizar Documento!" (click)="Imprimir(row)">visibility</mat-icon>
              <mat-icon class="cursor" matTooltip="Excluir Cadastro!"
                (click)="RemoverDocumento(row.id)">delete</mat-icon>

            </mat-cell>
          </ng-container>

          <mat-row *matRowDef="let row; columns: colunasDocumentos;"></mat-row>
        </table>
      </div>
    </mat-expansion-panel>

    <mat-expansion-panel *ngIf="pessoa.id > 0" [expanded]="step === 1" (opened)="setStep(1)" hideToggle>
      <mat-expansion-panel-header>
        <mat-panel-title>
          <h2>Endereço</h2>
        </mat-panel-title>
        <mat-panel-description>
          Aqui será salvo o Endereço do cliente
          <mat-icon>map</mat-icon>
        </mat-panel-description>
      </mat-expansion-panel-header>

      <!-- DADOS DO ENDEREÇO -->

      <div class="mat-elevation-z8">
        <div *ngIf="!spinner" style="padding-top: 15px;">
          <mat-form-field style="padding-left: 17px;" appearance="outline">
            <mat-label>CEP</mat-label>
            <div style="display: flex;">
              <input class="number" matInput maxlength="8" placeholder="Informe o CEP" [(ngModel)]="endereco.cep"
                name="cep" (keydown)="BuscaCep($event)">
              <mat-icon (click)="BuscaCep($event)">search</mat-icon>
            </div>
          </mat-form-field>

          <mat-form-field appearance="outline">
            <mat-label>Estado</mat-label>
            <input matInput placeholder="Estado" [(ngModel)]="endereco.estado" name="estado">
          </mat-form-field>

          <mat-form-field appearance="outline">
            <mat-label>Cidade</mat-label>
            <input matInput placeholder="Cidade" [(ngModel)]="endereco.cidade" name="cidade">
          </mat-form-field>

          <mat-form-field appearance="outline">
            <mat-label>Bairro</mat-label>
            <input matInput placeholder="Bairro" [(ngModel)]="endereco.bairro" name="bairro">
          </mat-form-field>

          <mat-form-field appearance="outline">
            <mat-label>Rua</mat-label>
            <input matInput placeholder="Rua" [(ngModel)]="endereco.rua" name="rua">
          </mat-form-field>

          <mat-form-field appearance="outline">
            <mat-label>Número</mat-label>
            <input matInput placeholder="Número" [(ngModel)]="endereco.numero" name="numero">
          </mat-form-field>

          <mat-form-field appearance="outline">
            <mat-label>Complemento</mat-label>
            <input matInput placeholder="Complemento" [(ngModel)]="endereco.complemento" name="complemento">
          </mat-form-field>
        </div>
        <div style="text-align: -webkit-center;">
          <mat-spinner *ngIf="spinner"></mat-spinner>
        </div>
      </div>
      <mat-action-row *ngIf="endereco.cep > 0 && endereco.estado && endereco.cidade 
      && endereco.bairro && endereco.rua && endereco.numero ">
        <button mat-button color="warn" (click)="Voltar()">Voltar</button>
        <button [disabled]="spinner" mat-button color="primary" (click)="Proximo()">Salvar</button>
      </mat-action-row>

    </mat-expansion-panel>

    <mat-expansion-panel *ngIf="pessoa.id > 0" [expanded]="step === 2" (opened)="setStep(2)" hideToggle>
      <mat-expansion-panel-header>
        <mat-panel-title>
          <h2>Contatos</h2>
        </mat-panel-title>
        <mat-panel-description>
          Aqui será salvo todos os contatos do Membro.
          <mat-icon>map</mat-icon>
        </mat-panel-description>
      </mat-expansion-panel-header>

      <!-- Grid com os contatos -->

      <div class="menuInternoGrid">
        <div class="mat-elevation-z8">
          <div *ngIf="!spinner" style="display: flex;padding-top: 15px;">
            <mat-form-field appearance="outline">
              <mat-label>DDD</mat-label>
              <input class="number" maxlength="2" matInput placeholder="DDD" [(ngModel)]="contato.ddd" name="ddd">
            </mat-form-field>

            <mat-form-field appearance="outline">
              <mat-label>Telefone</mat-label>
              <input class="number" maxlength="9" matInput placeholder="Telefone" [(ngModel)]="contato.telefone"
                name="telefone">
            </mat-form-field>

            <mat-form-field appearance="outline">
              <mat-label>Celular</mat-label>
              <input class="number" maxlength="9" matInput placeholder="Celular" [(ngModel)]="contato.celular"
                name="celular">
            </mat-form-field>

            <mat-form-field appearance="outline">
              <mat-label>Email</mat-label>
              <input type="email" matInput placeholder="Email" [(ngModel)]="contato.email" name="email">
            </mat-form-field>

            <div style="padding-left: 15px;padding-top: 10px;">
              <button style="background-color:blue; color: white;" [disabled]="spinner" mat-button color="primary"
                (click)="AdicionarContato()">{{this.contato.id === 0 ? 'Adicionar' : 'Alterar' }}</button>
            </div>
          </div>
          <div style="text-align: -webkit-center;">
            <mat-spinner *ngIf="spinner"></mat-spinner>
          </div>

        </div>
      </div>
      <br>


      <div class="mat-elevation-z8">
        <table mat-table [dataSource]="contatos" matSort>
          <!-- Id Column -->

          <ng-container matColumnDef="id">
            <mat-header-cell *matHeaderCellDef>Id</mat-header-cell>
            <mat-cell id="idPessoa" *matCellDef="let row">{{row.id}}</mat-cell>
          </ng-container>
          <!-- rol Column -->
          <ng-container matColumnDef="ddd">
            <mat-header-cell *matHeaderCellDef>DDD</mat-header-cell>
            <mat-cell id="ddd" *matCellDef="let row">{{row.ddd}}</mat-cell>
          </ng-container>

          <!-- rol Column -->
          <ng-container matColumnDef="telefone">
            <mat-header-cell *matHeaderCellDef>Telefone</mat-header-cell>
            <mat-cell id="telefone" *matCellDef="let row">{{row.telefone}}</mat-cell>
          </ng-container>

          <ng-container matColumnDef="celular">
            <mat-header-cell *matHeaderCellDef>Celular</mat-header-cell>
            <mat-cell mat-cell id="celular" *matCellDef="let row">{{row.celular}}</mat-cell>
          </ng-container>

          <!-- Name Column -->
          <ng-container matColumnDef="email">
            <mat-header-cell *matHeaderCellDef>Email</mat-header-cell>
            <mat-cell *matCellDef="let row">{{row.email}}</mat-cell>
          </ng-container>

          <!-- Coluna de Ações -->
          <ng-container matColumnDef="action">
            <mat-header-cell *matHeaderCellDef>Ações</mat-header-cell>
            <mat-cell *matCellDef="let row">

              <a (click)="EditarContato(row.id)" class="delete">
                <i class="material-icons">
                  edit
                </i>
              </a>

              <a (click)="ExcluirContato(row.id)" class="delete">
                <i class="material-icons">
                  delete
                </i>
              </a>

            </mat-cell>
          </ng-container>

          <mat-header-row *matHeaderRowDef="Colunas"></mat-header-row>
          <mat-row (click)="ContatoSelecionado(row.id)" *matRowDef="let row; columns: Colunas;"
            [ngClass]="{'corLinhaGrid' : row.id == contatoSelecionado}"></mat-row>
        </table>
      </div>

      <mat-action-row>
        <button mat-button color="warn" (click)="Voltar()">Voltar</button>
        <button [disabled]="spinner" mat-button color="primary" (click)="Proximo()">Próximo</button>
      </mat-action-row>

    </mat-expansion-panel>

    <mat-expansion-panel *ngIf="pessoa.id > 0" [expanded]="step === 3" (opened)="setStep(3)" hideToggle>
      <mat-expansion-panel-header>
        <mat-panel-title>
          <h2>Informações do Membro</h2>
        </mat-panel-title>
        <mat-panel-description>
          Aqui consta as informações do membro que se refere a Igreja.
          <mat-icon>map</mat-icon>
        </mat-panel-description>
      </mat-expansion-panel-header>
      <!-- dados Membro -->
      <div *ngIf="!spinner" class="menuInternoGrid">
        <mat-form-field style="padding-left: 17px;" appearance="outline">
          <mat-label>ROL</mat-label>
          <input class="number" required="required" pattern="\d*" matInput placeholder="rol"
            [(ngModel)]="dadosMembro.rol" name="rol">
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Congregação</mat-label>
          <input matInput placeholder="Congregacao" [(ngModel)]="dadosMembro.congregacao" name="congregacao">
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Regional</mat-label>
          <input matInput placeholder="Regional" [(ngModel)]="dadosMembro.regional" name="regional">
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Batismo Filho Crente</mat-label>
          <input style="height: 20px; width: 150px;" matInput placeholder="Batismo filho de Crente">
          <input name="batismoFilhoCrente" [(ngModel)]="dadosMembro.batismoFilhoCrente"
            [checked]="dadosMembro.batismoFilhoCrente" type="checkbox">
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Batismo filho não Crente</mat-label>
          <input style="height: 20px; width: 150px;" matInput placeholder="Batismo Filho de  não Crente">
          <input name="batismoFilhoNaoCrente" [(ngModel)]="dadosMembro.batismoFilhoNaoCrente"
            [checked]="dadosMembro.batismoFilhoNaoCrente" type="checkbox">
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Fez Discipulado</mat-label>
          <input style="height: 20px; width: 150px;" matInput placeholder="Fez Discipulado">
          <input name="fezDiscipulado" [(ngModel)]="dadosMembro.fezDiscipulado" [checked]="dadosMembro.fezDiscipulado"
            type="checkbox">
        </mat-form-field>
        <!-- data referencia -->
        <mat-form-field color="accent" style="width: 220px;" appearance="outline">
          <mat-label>Data Batismo Águas</mat-label>
          <input matInput [matDatepicker]="batismoAguas" [(ngModel)]="dadosMembro.batismoAguas" name="batismoAguas">
          <!-- <mat-hint>MM/DD/YYYY</mat-hint> -->
          <mat-datepicker-toggle matIconSuffix [for]="batismoAguas"></mat-datepicker-toggle>
          <mat-datepicker #batismoAguas></mat-datepicker>
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Batismo Águas Igreja</mat-label>
          <input matInput placeholder="Batismo Águas Igreja" [(ngModel)]="dadosMembro.batismoAguasIgreja"
            name="batismoAguasIgreja">
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Batismo Águas Cidade</mat-label>
          <input matInput placeholder="Batismo Águas Cidade" [(ngModel)]="dadosMembro.batismoAguasCidade"
            name="batismoAguasCidade">
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Batismo Águas Estado</mat-label>
          <input matInput placeholder="Batismo Águas Estado" [(ngModel)]="dadosMembro.batismoAguasEstado"
            name="batismoAguasEstado">
        </mat-form-field>

        <mat-form-field color="accent" style="width: 220px;" appearance="outline">
          <mat-label>Batismo no Esp. Santo</mat-label>
          <input matInput [matDatepicker]="batismoESanto" [(ngModel)]="dadosMembro.batismoESanto" name="batismoESanto">
          <mat-datepicker-toggle matIconSuffix [for]="batismoESanto"></mat-datepicker-toggle>
          <mat-datepicker #batismoESanto></mat-datepicker>
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Batismo no E. Santo Igreja</mat-label>
          <input matInput placeholder="Batismo no E. Santo Igreja" [(ngModel)]="dadosMembro.batismoESantoIgreja"
            name="batismoESantoIgreja">
        </mat-form-field>

        <mat-form-field color="accent" style="width: 220px;" appearance="outline">
          <mat-label>Membro Desde</mat-label>
          <input matInput [matDatepicker]="membroDesde" [(ngModel)]="dadosMembro.membroDesde" name="membroDesde">
          <mat-datepicker-toggle matIconSuffix [for]="membroDesde"></mat-datepicker-toggle>
          <mat-datepicker #membroDesde></mat-datepicker>
        </mat-form-field>


        <mat-form-field color="accent" style="width: 220px;" appearance="outline">
          <mat-label>Validade Cartão Membro</mat-label>
          <input matInput [matDatepicker]="validadeCartaoMembro" [(ngModel)]="dadosMembro.validadeCartaoMembro"
            name="validadeCartaoMembro">
          <mat-datepicker-toggle matIconSuffix [for]="validadeCartaoMembro"></mat-datepicker-toggle>
          <mat-datepicker #validadeCartaoMembro></mat-datepicker>
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Curso Teológico</mat-label>
          <mat-select [(value)]="dadosMembro.cursoTeologico" placeholder="Curso Teológico">
            <mat-option *ngFor="let ec of cursoTeoligico" [value]="ec.id">
              {{ec.value}}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Curso Teológico onde cursou</mat-label>
          <input matInput placeholder="Curso Teológico onde cursou" [(ngModel)]="dadosMembro.cursoTeologicoOndeCursou"
            name="cursoTeologicoOndeCursou">
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Dizimista</mat-label>
          <input style="height: 20px; width: 150px;" matInput placeholder="Dizimista">
          <input name="dizimista" [(ngModel)]="dadosMembro.dizimista" [checked]="dadosMembro.dizimista" type="checkbox">
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Frequenta EBD</mat-label>
          <input style="height: 20px; width: 150px;" matInput placeholder="Frequenta EBD">
          <input name="frequentaEbd" [(ngModel)]="dadosMembro.frequentaEbd" [checked]="dadosMembro.frequentaEbd"
            type="checkbox">
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Função</mat-label>
          <mat-select [(value)]="dadosMembro.funcao" (selectionChange)="AlteraFuncao(false)" placeholder="Função">
            <mat-option *ngFor="let ec of funcao" [value]="ec.id">
              {{ec.value}}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field color="accent" style="width: 220px;" appearance="outline">
          <mat-label>Mudança Com Carta</mat-label>
          <input matInput [matDatepicker]="mudancaComcarta" [(ngModel)]="dadosMembro.mudancaComCarta"
            name="mudancaComCarta">
          <mat-datepicker-toggle matIconSuffix [for]="mudancaComcarta"></mat-datepicker-toggle>
          <mat-datepicker #mudancaComcarta></mat-datepicker>
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Mudança Com Carta(Igreja)</mat-label>
          <input matInput placeholder="Mudança Com Carta(Igreja)" [(ngModel)]="dadosMembro.mudancaComCartaIgreja"
            name="mudancaComCartaIgreja">
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Mudança Com Carta(Estado)</mat-label>
          <input matInput placeholder="Mudança Com Carta(Estado)" [(ngModel)]="dadosMembro.mudancaComCartaIgrejaEstado"
            name="mudancaComCartaIgrejaEstado">
        </mat-form-field>

        <mat-form-field color="accent" style="width: 220px;" appearance="outline">
          <mat-label>Mudança Sem Carta</mat-label>
          <input matInput [matDatepicker]="mudancaSemcarta" [(ngModel)]="dadosMembro.mudancaSemCarta"
            name="mudancaSemCarta">
          <mat-datepicker-toggle matIconSuffix [for]="mudancaSemcarta"></mat-datepicker-toggle>
          <mat-datepicker #mudancaSemcarta></mat-datepicker>
        </mat-form-field>

        <mat-form-field color="accent" style="width: 220px;" appearance="outline">
          <mat-label>Data Comunhão</mat-label>
          <input matInput [matDatepicker]="dataComunhao" [(ngModel)]="dadosMembro.comunhao" name="comunhao">
          <mat-datepicker-toggle matIconSuffix [for]="dataComunhao"></mat-datepicker-toggle>
          <mat-datepicker #dataComunhao></mat-datepicker>
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Procedência</mat-label>
          <input matInput placeholder="Procedência" [(ngModel)]="dadosMembro.procedencia" name="procedencia">
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Observação</mat-label>
          <input matInput placeholder="Observação" [(ngModel)]="dadosMembro.observacao" name="observacao">
        </mat-form-field>
      </div>
      <div style="text-align: -webkit-center;">
        <mat-spinner *ngIf="spinner"></mat-spinner>
      </div>

      <mat-action-row>
        <button mat-button color="warn" (click)="Voltar()">Voltar</button>
        <button [disabled]="spinner" mat-button color="primary" (click)="Proximo()">Salvar</button>
      </mat-action-row>
    </mat-expansion-panel>


    <mat-expansion-panel *ngIf="pessoa.id > 0" [expanded]="step === 5" (opened)="setStep(5)" hideToggle>
      <mat-expansion-panel-header>
        <mat-panel-title>
          <h2>Cargos</h2>
        </mat-panel-title>
        <mat-panel-description>
          Aqui será salvo todos os cargos do Membro.
          <mat-icon>map</mat-icon>
        </mat-panel-description>
      </mat-expansion-panel-header>

      <!-- Cargos -->

      <div style="display:flex" *ngIf="!spinner" class="menuInternoGrid">
        <mat-form-field appearance="outline">
          <mat-label>Cargo</mat-label>
          <input matInput placeholder="Novo Cargo" [(ngModel)]="cargo.cargo" name="cargo">
        </mat-form-field>

        <mat-form-field color="accent" style="width: 220px;" appearance="outline">
          <mat-label>Data do Cargo</mat-label>
          <input matInput [matDatepicker]="noCargoDesde" [(ngModel)]="cargo.noCargoDesde" name="noCargoDesde">
          <mat-datepicker-toggle matIconSuffix [for]="noCargoDesde"></mat-datepicker-toggle>
          <mat-datepicker #noCargoDesde></mat-datepicker>
        </mat-form-field>

        <mat-form-field color="accent" style="width: 213px;" appearance="outline">
          <mat-label>Ficou no cargo até</mat-label>
          <input matInput [matDatepicker]="noCargoAte" [(ngModel)]="cargo.noCargoAte" name="noCargoAte">
          <mat-datepicker-toggle matIconSuffix [for]="noCargoAte"></mat-datepicker-toggle>
          <mat-datepicker #noCargoAte></mat-datepicker>
        </mat-form-field>

        <div style="padding-left: 15px;padding-top: 10px;">
          <button style="background-color:blue; color: white;" [disabled]="spinner" mat-button color="primary"
            (click)="AdicionarCargo()">Adicionar</button>
        </div>

      </div>
      <div style="text-align: -webkit-center;">
        <mat-spinner *ngIf="spinner"></mat-spinner>
      </div>


      <br>
      <div class="mat-elevation-z8">
        <table mat-table [dataSource]="cargos" matSort>
          <!-- Id Column -->
          <ng-container matColumnDef="id">
            <mat-header-cell *matHeaderCellDef>Id</mat-header-cell>
            <mat-cell id="id" *matCellDef="let row">{{row.id}}</mat-cell>
          </ng-container>
          <!-- rol Column -->
          <ng-container matColumnDef="cargo">
            <mat-header-cell *matHeaderCellDef>Nome Cargo</mat-header-cell>
            <mat-cell id="cargo" *matCellDef="let row">{{row.cargo}}</mat-cell>
          </ng-container>

          <ng-container matColumnDef="noCargoDesde">
            <mat-header-cell *matHeaderCellDef>Desde</mat-header-cell>
            <mat-cell id="noCargoDesde" *matCellDef="let row">{{row.noCargoDesde | date : 'dd/MM/yyyy'}}</mat-cell>
          </ng-container>

          <ng-container matColumnDef="noCargoAte">
            <mat-header-cell *matHeaderCellDef>Até</mat-header-cell>
            <mat-cell id="noCargoAte" *matCellDef="let row">{{row.noCargoAte | date : 'dd/MM/yyyy'}}</mat-cell>
          </ng-container>

          <!-- Coluna de Ações -->
          <ng-container matColumnDef="action">
            <mat-header-cell *matHeaderCellDef>Ações</mat-header-cell>
            <mat-cell *matCellDef="let row">
              <mat-icon *ngIf="!row.noCargoAte" matTooltip="editar Cargo!" (click)="EditarCargo(row.id)">edit</mat-icon>
            </mat-cell>
          </ng-container>

          <mat-header-row *matHeaderRowDef="ColunasCargos"></mat-header-row>
          <mat-row (click)="CargoSelecionado(row.id)" *matRowDef="let row; columns: ColunasCargos;"
            [ngClass]="{'corLinhaGrid' : row.id == cargoSelecionado}"></mat-row>
        </table>
      </div>

    </mat-expansion-panel>

    <mat-expansion-panel *ngIf="pessoa.id > 0" [expanded]="step === 6" (opened)="setStep(6)" hideToggle>
      <mat-expansion-panel-header>
        <mat-panel-title>
          <h2>Ocorrências da Pessoa</h2>
        </mat-panel-title>
        <mat-panel-description>
          Aqui será salvo todo o histórico ou ocorrências da pessoa / Membro.
          <mat-icon>map</mat-icon>
        </mat-panel-description>
      </mat-expansion-panel-header>
      <!-- ocorrências -->
      <div class="mat-elevation-z8">
        <table mat-table [dataSource]="logs" matSort>

          <mat-header-row *matHeaderRowDef="colunasLogs"></mat-header-row>

          <ng-container matColumnDef="data">
            <th style="width:20%;" mat-header-cell *matHeaderCellDef>Data da Ocorrência</th>
            <td style="width:20%;" mat-cell id="data" *matCellDef="let row">{{row.data | date : 'dd/MM/yyyy hh:mm:ss'}}
            </td>
          </ng-container>

          <ng-container matColumnDef="descricao">
            <th mat-header-cell *matHeaderCellDef>Ocorrência</th>
            <td mat-cell id="descricao" *matCellDef="let row">{{row.descricao}}</td>
          </ng-container>

          <mat-row (click)="LogSelecionado(row.id)" *matRowDef="let row; columns: colunasLogs;"
            [ngClass]="{'corLinhaGrid' : row.id == cargoSelecionado}"></mat-row>
        </table>
      </div>

      <!-- ocorrencias -->

    </mat-expansion-panel>

    <mat-expansion-panel *ngIf="dadosObreiro && historicos.length > 0" [expanded]="step === 4" (opened)="setStep(4)"
      hideToggle>
      <mat-expansion-panel-header>
        <mat-panel-title>
          <h2>Informações do Obreiro</h2>
        </mat-panel-title>
        <mat-panel-description>
          Aqui está Salvo as informações do Obreiro quando o Membro for um obreiro...
          <mat-icon>date_range</mat-icon>
        </mat-panel-description>
      </mat-expansion-panel-header>
      <div *ngIf="!spinner" class="mat-elevation-z8">

        <!-- histórico do OBREIRO -->
        <div style="padding-top: 15px;">

          <mat-form-field style="padding-left: 17px;" appearance="outline">
            <mat-label>Frequenta Reuniões Min.</mat-label>
            <input style="height: 20px; width: 150px;" matInput placeholder="Frequenta Reuniões Min.">
            <input name="frequentaReunioesMinisteriais" [(ngModel)]="dadosObreiro.frequentaReunioesMinisteriais"
              [checked]="dadosObreiro.frequentaReunioesMinisteriais" type="checkbox">
          </mat-form-field>

          <mat-form-field appearance="outline">
            <mat-label>Freq. Doutrina/Ensino.</mat-label>
            <input style="height: 20px; width: 155px;" matInput placeholder="Frequenta Doutrina/Ensino.">
            <input name="frequentaDoutrinaEnsinamento" [(ngModel)]="dadosObreiro.frequentaDoutrinaEnsinamento"
              [checked]="dadosObreiro.frequentaDoutrinaEnsinamento" type="checkbox">
          </mat-form-field>

          <mat-form-field appearance="outline">
            <mat-label>Cheque S.Fundo?</mat-label>
            <input style="height: 20px; width: 150px;" matInput placeholder="Possui Cheque S.Fundo?">
            <input name="possuiChequeSemFundos" [(ngModel)]="dadosObreiro.possuiChequeSemFundos"
              [checked]="dadosObreiro.possuiChequeSemFundos" type="checkbox">
          </mat-form-field>

          <mat-form-field appearance="outline">
            <mat-label>Possui Protestos?</mat-label>
            <input style="height: 20px; width: 150px;" matInput placeholder="Possui Protestos?">
            <input name="possuiProtestos" [(ngModel)]="dadosObreiro.possuiProtestos"
              [checked]="dadosObreiro.possuiProtestos" type="checkbox">
          </mat-form-field>

          <mat-form-field appearance="outline">
            <mat-label>Cartão Provisório?</mat-label>
            <input style="height: 20px; width: 150px;" matInput placeholder="Cartão Provisório?">
            <input name="possuiProtestos" [(ngModel)]="dadosObreiro.cartaoProvisorio"
              [checked]="dadosObreiro.cartaoProvisorio" type="checkbox">
          </mat-form-field>

          <mat-form-field appearance="outline">
            <mat-label>Observação</mat-label>
            <input matInput placeholder="Observação" [(ngModel)]="dadosObreiro.observacao" name="observacao">
          </mat-form-field>

          <br>
        </div>

        <!-- Grid de Obreiros -->

        <div class="mat-elevation-z8">
          <table mat-table [dataSource]="historicos" matSort>
            <!-- Id Column -->
            <ng-container matColumnDef="id">
              <mat-header-cell *matHeaderCellDef>Id</mat-header-cell>
              <mat-cell id="idPessoa" *matCellDef="let row">{{row.id}}</mat-cell>
            </ng-container>

            <ng-container matColumnDef="pastorApresentador">
              <mat-header-cell *matHeaderCellDef>Pr.Apres</mat-header-cell>
              <mat-cell id="pastorApresentador" *matCellDef="let row">{{row.pastorApresentador}}</mat-cell>
            </ng-container>

            <ng-container matColumnDef="pastorRegional">
              <mat-header-cell *matHeaderCellDef>Pr.Regional</mat-header-cell>
              <mat-cell id="pastorRegional" *matCellDef="let row">{{row.pastorRegional}}</mat-cell>
            </ng-container>

            <ng-container matColumnDef="local">
              <mat-header-cell *matHeaderCellDef>Local Ex: Belém</mat-header-cell>
              <mat-cell id="local" *matCellDef="let row">{{row.local}}</mat-cell>
            </ng-container>

            <!-- rol Column -->
            <ng-container matColumnDef="funcao">
              <mat-header-cell *matHeaderCellDef>Função</mat-header-cell>
              <mat-cell id="funcao" *matCellDef="let row">{{row.funcao}}</mat-cell>
            </ng-container>

            <!-- rol Column -->
            <ng-container matColumnDef="entradaFuncao">
              <mat-header-cell *matHeaderCellDef>Como Iniciou</mat-header-cell>
              <mat-cell id="entradaFuncao" *matCellDef="let row">{{row.entradaFuncao}}</mat-cell>
            </ng-container>

            <ng-container matColumnDef="dataEntradaFuncao">
              <mat-header-cell *matHeaderCellDef>Inicio Função</mat-header-cell>
              <mat-cell mat-cell id="dataEntradaFuncao" *matCellDef="let row">{{row.dataEntradaFuncao | date :
                'dd/MM/yyyy'}}</mat-cell>
            </ng-container>

            <!-- Name Column -->
            <ng-container matColumnDef="dataSaidaFuncao">
              <mat-header-cell *matHeaderCellDef>Função Até</mat-header-cell>
              <mat-cell *matCellDef="let row">{{row.dataSaidaFuncao | date : 'dd/MM/yyyy'}}</mat-cell>
            </ng-container>


            <!-- Name Column -->
            <ng-container matColumnDef="reintegrado">
              <mat-header-cell *matHeaderCellDef>Reintegrado</mat-header-cell>
              <mat-cell *matCellDef="let row">{{row.reintegrado}}</mat-cell>
            </ng-container>

            <!-- Name Column -->
            <ng-container matColumnDef="reintegradoEm">
              <mat-header-cell *matHeaderCellDef>Quando</mat-header-cell>
              <mat-cell *matCellDef="let row">{{row.reintegradoEm | date : 'dd/MM/yyyy'}}</mat-cell>
            </ng-container>

            <!-- Name Column -->
            <ng-container matColumnDef="aprovado">
              <mat-header-cell *matHeaderCellDef>Aprovado</mat-header-cell>
              <mat-cell *matCellDef="let row">{{row.aprovado}}</mat-cell>
            </ng-container>

            <ng-container matColumnDef="action">
              <mat-header-cell *matHeaderCellDef>Ações</mat-header-cell>

              <mat-cell *matCellDef="let row">
                <mat-icon *ngIf="row.aprovado === 'Não'" matTooltip="Editar Historico!"
                  (click)="AtualizarFuncao(row.id, true)">edit</mat-icon>
                <mat-icon *ngIf="row.aprovado === 'Não'" matTooltip="excluir Historico!"
                  (click)="ExcluirHistorico(row.id)">delete</mat-icon>
              </mat-cell>
            </ng-container>


            <mat-header-row *matHeaderRowDef="ColunasHistoricoObreiro"></mat-header-row>
            <mat-row (click)="HistoricoSelecionado(row.id)" *matRowDef="let row; columns: ColunasHistoricoObreiro;"
              [ngClass]="{'corLinhaGrid' : row.id == historicoSelecionado}"></mat-row>
          </table>

        </div>

      </div>
      <div style="text-align: -webkit-center;">
        <mat-spinner *ngIf="spinner"></mat-spinner>
      </div>

      <mat-action-row>
        <button mat-button color="warn" (click)="Voltar()">Voltar</button>
        <button [disabled]="spinner" mat-button color="primary" (click)="Proximo()">Salvar</button>
      </mat-action-row>
    </mat-expansion-panel>

  </mat-accordion>

</body>

</html>