<h1 style="text-align: left;padding-left: 25px;">Relatórios</h1>
<div>
    <div style="display: flex;" class="row">
        <mat-form-field color="accent" style="width: 350px;">
            <mat-select [(value)]="relatorioSelecionado" placeholder="Tipo de Relatório"
                (selectionChange)="RelatorioSelecionado()">
                <mat-option *ngFor="let tr of tipoRelatorio" [value]="tr.id">
                    {{tr.value}}
                </mat-option>
            </mat-select>
        </mat-form-field>

        <mat-form-field *ngIf="exibePeriodoOutros" color="accent" style="width: 213px;">
            <mat-select [(value)]="filtros.periodoSelecionado" placeholder="Periodo"
                (selectionChange)="SelecionarPeriodo()">
                <mat-option *ngFor="let pe of periodo" [value]="pe.id">
                    {{pe.value}}
                </mat-option>
            </mat-select>
        </mat-form-field>

        <mat-form-field *ngIf="exibeMes" color="accent" style="width: 213px;">
            <mat-select [(value)]="filtros.mesSelecionado" placeholder="Periodo" (selectionChange)="SelecionaMes()">
                <mat-option *ngFor="let pe of meses" [value]="pe.id">
                    {{pe.value}}
                </mat-option>
            </mat-select>
        </mat-form-field>

        <mat-form-field *ngIf="exibeAno" color="accent" style="width: 213px;">
            <mat-select [(value)]="filtros.anoSelecionado" placeholder="Selecione o ano"
                (selectionChange)="SelecionaAno()">
                <mat-option *ngFor="let ano of anos" [value]="ano">
                    {{ano}}
                </mat-option>
            </mat-select>
        </mat-form-field>

        <mat-form-field *ngIf="exibePeriodo" color="accent" style="width: 213px;">
            <mat-label>Data Início</mat-label>
            <input matInput [matDatepicker]="dataini" [(ngModel)]="filtros.dataInicial" name="datainicio">
            <mat-datepicker-toggle matIconSuffix [for]="dataini"></mat-datepicker-toggle>
            <mat-datepicker #dataini></mat-datepicker>
        </mat-form-field>

        <mat-form-field *ngIf="exibePeriodo" color="accent" style="width: 213px;">
            <mat-label>Data Fim</mat-label>
            <input matInput [matDatepicker]="dataFinal" [(ngModel)]="filtros.dataFinal" name="datainicio">
            <mat-datepicker-toggle matIconSuffix [for]="dataFinal"></mat-datepicker-toggle>
            <mat-datepicker #dataFinal></mat-datepicker>
        </mat-form-field>


        <mat-form-field *ngIf="exibeComboObreiro" color="accent" style="width: 400px;">
            <mat-select [(value)]="filtros.pessoaId" placeholder="Obreiros">
                <mat-option>Selecione</mat-option>
                <mat-option *ngFor="let pe of obreiros" [value]="pe.id">
                    {{pe.nome}}
                </mat-option>
            </mat-select>
        </mat-form-field>


        <mat-form-field *ngIf="exibeComboMembros" color="accent" style="width: 400px;">
            <mat-select [(value)]="filtros.pessoaId" placeholder="Membros">
                <mat-option>Selecione</mat-option>
                <mat-option *ngFor="let pe of membros" [value]="pe.id">
                    {{pe.nome}}
                </mat-option>
            </mat-select>
        </mat-form-field>


        <mat-icon style="padding: 8px;" *ngIf="relatorioSelecionado > 0" matTooltip="solicitar!"
            (click)="BuscarRelatorio()">search</mat-icon>

        <mat-icon style="padding: 8px;" *ngIf="relatorioSelecionado > 0 && imprimir" matTooltip="Imprimir!"
            (click)="Imprimir()">print</mat-icon>
    </div>


    <div *ngIf="relatorioSelecionado == 1 || relatorioSelecionado == 2 ">
        <span>
            <h1 style="padding-left:25px" *ngIf="relatorioSelecionado == 1">Relatório - Membros Ativos. </h1>
            <h1 style="padding-left:25px" *ngIf="relatorioSelecionado == 2">Relatório - Membros Inativos. </h1>
        </span>

        <div class="mat-elevation-z4" style="height: 600px;overflow: auto;">
            <table mat-table [dataSource]="relatorioMembrosAtivos" class="mat-elevation-z4 demo-table">
                <mat-header-row *matHeaderRowDef="ColunasGridMembrosAtivos"></mat-header-row>
                <mat-row *matRowDef="let row; columns: ColunasGridMembrosAtivos;"></mat-row>

                <ng-container matColumnDef="nome">
                    <mat-header-cell *matHeaderCellDef>Nome</mat-header-cell>
                    <mat-cell *matCellDef="let row">{{row.nome}}</mat-cell>
                </ng-container>

                <ng-container matColumnDef="rol">
                    <mat-header-cell *matHeaderCellDef>Número Rol</mat-header-cell>
                    <mat-cell *matCellDef="let row">{{row.rol}}</mat-cell>
                </ng-container>

                <ng-container matColumnDef="congregacao">
                    <mat-header-cell *matHeaderCellDef>Congregação</mat-header-cell>
                    <mat-cell *matCellDef="let row">{{row.congregacao}}</mat-cell>
                </ng-container>

                <!-- rol Column -->
                <ng-container matColumnDef="validadeCartaoMembro">
                    <mat-header-cell style="width: 2%;" *matHeaderCellDef>Validade do Cartão de
                        Membro</mat-header-cell>
                    <mat-cell *matCellDef="let row">{{row.validadeCartaoMembro | date : 'dd/MM/yyyy'}}</mat-cell>
                </ng-container>
            </table>

            <div style="text-align: -webkit-center; margin-top: 5%;">
                <mat-spinner *ngIf="spinner"></mat-spinner>
            </div>

            <div style="text-align: -webkit-center; margin-top: 5%;">
                <span>
                    <h3 *ngIf="mensagemDeretorno" style="padding-left:25px;color: grey;">{{mensagemDeretorno }}</h3>
                </span>
            </div>

        </div>
        <h3>Total : {{relatorioMembrosAtivos.length}}</h3>
    </div>

    <div *ngIf="relatorioSelecionado == 3">
        <span>
            <h1 style="padding-left:25px;">Relatório - Idosos </h1>
        </span>
        <div class="mat-elevation-z4" style="height: 600px;overflow: auto;">
            <table mat-table [dataSource]="relatorioIdosos" class="mat-elevation-z4 demo-table">

                <mat-header-row *matHeaderRowDef="ColunasGridRelatorioIdosos"></mat-header-row>
                <mat-row *matRowDef="let row; columns: ColunasGridRelatorioIdosos;"></mat-row>

                <ng-container matColumnDef="nome">
                    <mat-header-cell *matHeaderCellDef>Nome</mat-header-cell>
                    <mat-cell *matCellDef="let row">{{row.nome}}</mat-cell>
                </ng-container>

                <ng-container matColumnDef="endereco">
                    <mat-header-cell *matHeaderCellDef>Endereço</mat-header-cell>
                    <mat-cell *matCellDef="let row">{{row.endereco}}</mat-cell>
                </ng-container>

                <!-- rol Column -->
                <ng-container matColumnDef="ultimaSantaCeia">
                    <mat-header-cell style="width: 2%;" *matHeaderCellDef>Data da Ultima Ceia</mat-header-cell>
                    <mat-cell *matCellDef="let row">{{row.ultimaSantaCeia | date : 'dd/MM/yyyy'}}</mat-cell>
                </ng-container>

            </table>

            <div style="text-align: -webkit-center; margin-top: 5%;">
                <mat-spinner *ngIf="spinner"></mat-spinner>
            </div>

            <div style="text-align: -webkit-center; margin-top: 5%;">
                <span>
                    <h3 *ngIf="mensagemDeretorno" style="padding-left:25px;color: grey;">{{mensagemDeretorno }}</h3>
                </span>
            </div>
        </div>
        <h3>Total : {{relatorioIdosos.length }}</h3>
    </div>

    <div *ngIf="relatorioSelecionado == 4">

        <span>
            <h2 style="padding-left:25px;">Relatório - Aniversariantes</h2>
        </span>

        <div class="mat-elevation-z4" style="height: 300px;overflow: auto;">

            <table mat-table [dataSource]="relatorioAniversario" class="mat-elevation-z8 demo-table">

                <mat-header-row *matHeaderRowDef="Colunas"></mat-header-row>
                <ng-container matColumnDef="nome">
                    <mat-header-cell *matHeaderCellDef hidden="true">Nome</mat-header-cell>
                    <mat-cell *matCellDef="let row">{{row.nome}}</mat-cell>
                </ng-container>
                <!-- rol Column -->
                <ng-container matColumnDef="dataNascimento">
                    <mat-header-cell style="width: 2%;" *matHeaderCellDef>Data de Nascimento</mat-header-cell>
                    <mat-cell id="rol" *matCellDef="let row" hidden="true">{{row.dataNascimento | date :
                        'dd/MM/yyyy'}}</mat-cell>
                </ng-container>

                <ng-container matColumnDef="dataAniversario">
                    <mat-header-cell style="width: 2%;" *matHeaderCellDef>Data de Aniversário</mat-header-cell>
                    <mat-cell id="rol" *matCellDef="let row" hidden="true">{{row.dataAniversario | date :
                        'dd/MM/yyyy'}}</mat-cell>
                </ng-container>

                <mat-row *matRowDef="let row; columns: Colunas;"></mat-row>
            </table>
            <div style="text-align: -webkit-center; margin-top: 5%;">
                <mat-spinner *ngIf="spinner"></mat-spinner>
            </div>

            <div style="text-align: -webkit-center; margin-top: 5%;">
                <span>
                    <h3 *ngIf="mensagemDeretorno" style="padding-left:25px;color: grey;">{{mensagemDeretorno }}</h3>
                </span>
            </div>
        </div>

        <h3 style="padding-left:25px;">Total : {{totalAniversariantes}}</h3>
    </div>

    <div *ngIf="relatorioSelecionado == 4 ">
        <hr />
        <span>
            <h2 style="padding-left:25px;">Relatório - Aniversariantes de casamento. </h2>
        </span>
        <div class="mat-elevation-z4" style="height: 200px;overflow: auto;">
            <table mat-table [dataSource]="relatorioAniCasamento" class="mat-elevation-z4 demo-table">

                <mat-header-row *matHeaderRowDef="ColunasGridCasamento"></mat-header-row>

                <ng-container matColumnDef="nome">
                    <mat-header-cell *matHeaderCellDef>Nome</mat-header-cell>
                    <mat-cell *matCellDef="let row">{{row.nome}}</mat-cell>
                </ng-container>

                <ng-container matColumnDef="nomeConjuge">
                    <mat-header-cell *matHeaderCellDef>Nome da Esposa</mat-header-cell>
                    <mat-cell *matCellDef="let row">{{row.nomeConjuge}}</mat-cell>
                </ng-container>

                <!-- rol Column -->
                <ng-container matColumnDef="dataCasamento">
                    <mat-header-cell style="width: 2%;" *matHeaderCellDef>Aniv. de Casamento</mat-header-cell>
                    <mat-cell *matCellDef="let row">{{row.dataCasamento | date : 'dd/MM/yyyy'}}</mat-cell>
                </ng-container>

                <ng-container matColumnDef="quantidadeAnosCasado">
                    <mat-header-cell style="width: 2%;" *matHeaderCellDef>Anos de Casados</mat-header-cell>
                    <mat-cell *matCellDef="let row" hidden="true">{{row.quantidadeAnosCasado}} Ano(s)</mat-cell>
                </ng-container>
                <mat-row *matRowDef="let row; columns: ColunasGridCasamento;"></mat-row>
            </table>
            <div style="text-align: -webkit-center; margin-top: 5%;">
                <mat-spinner *ngIf="spinner"></mat-spinner>
            </div>

            <div style="text-align: -webkit-center; margin-top: 5%;">
                <span>
                    <h3 *ngIf="mensagemDeretorno" style="padding-left:25px;color: grey;">{{mensagemDeretorno }}</h3>
                </span>
            </div>
        </div>
        <h3 style="padding-left:25px;">Total : {{totalAniversariantesCasamento}}</h3>
    </div>

    <div
        *ngIf="relatorioSelecionado == 5 || relatorioSelecionado == 6 || relatorioSelecionado == 7">
        <hr />
        <span>
            <h1 style="padding-left:25px;">{{nomeRelatorio}}</h1>
        </span>

        <div class="mat-elevation-z4" style="height: 600px;overflow: auto;">
            
            <table mat-table [dataSource]="relatorioPresenca" class="mat-elevation-z4 demo-table">

                <mat-header-row *matHeaderRowDef="ColunasGridRelatorioCeia"></mat-header-row>
                <mat-row *matRowDef="let row; columns: ColunasGridRelatorioCeia;"></mat-row>

                <ng-container matColumnDef="nome">
                    <mat-header-cell *matHeaderCellDef class="ajusteColunas">NOME</mat-header-cell>
                    <mat-cell *matCellDef="let row" class="ajusteColunas">{{row.nome}}</mat-cell>
                </ng-container>

                <ng-container matColumnDef="janeiro">
                    <mat-header-cell *matHeaderCellDef>JAN</mat-header-cell>
                    <mat-cell *matCellDef="let row"><mat-icon>{{row.janeiro}}</mat-icon></mat-cell>
                </ng-container>

                <ng-container matColumnDef="fevereiro">
                    <mat-header-cell *matHeaderCellDef>FEV</mat-header-cell>
                    <mat-cell *matCellDef="let row"><mat-icon>{{row.fevereiro}}</mat-icon></mat-cell>
                </ng-container>

                <ng-container matColumnDef="marco">
                    <mat-header-cell *matHeaderCellDef>MAR</mat-header-cell>
                    <mat-cell *matCellDef="let row"><mat-icon>{{row.marco}}</mat-icon></mat-cell>
                </ng-container>

                <ng-container matColumnDef="abril">
                    <mat-header-cell *matHeaderCellDef>ABR</mat-header-cell>
                    <mat-cell *matCellDef="let row"><mat-icon>{{row.abril}}</mat-icon></mat-cell>
                </ng-container>

                <ng-container matColumnDef="maio">
                    <mat-header-cell *matHeaderCellDef>MAI</mat-header-cell>
                    <mat-cell *matCellDef="let row"><mat-icon>{{row.maio}}</mat-icon></mat-cell>
                </ng-container>

                <ng-container matColumnDef="junho">
                    <mat-header-cell *matHeaderCellDef>JUN</mat-header-cell>
                    <mat-cell *matCellDef="let row"><mat-icon>{{row.junho}}</mat-icon></mat-cell>
                </ng-container>

                <ng-container matColumnDef="julho">
                    <mat-header-cell *matHeaderCellDef>JUL</mat-header-cell>
                    <mat-cell *matCellDef="let row"><mat-icon>{{row.julho}}</mat-icon></mat-cell>
                </ng-container>

                <ng-container matColumnDef="agosto">
                    <mat-header-cell *matHeaderCellDef>AGO</mat-header-cell>
                    <mat-cell *matCellDef="let row"><mat-icon>{{row.agosto}}</mat-icon></mat-cell>
                </ng-container>

                <ng-container matColumnDef="setembro">
                    <mat-header-cell *matHeaderCellDef>SET</mat-header-cell>
                    <mat-cell *matCellDef="let row"><mat-icon>{{row.setembro}}</mat-icon></mat-cell>
                </ng-container>

                <ng-container matColumnDef="outubro">
                    <mat-header-cell *matHeaderCellDef>OUT</mat-header-cell>
                    <mat-cell *matCellDef="let row"><mat-icon>{{row.outubro}}</mat-icon></mat-cell>
                </ng-container>

                <ng-container matColumnDef="novembro">
                    <mat-header-cell *matHeaderCellDef>NOV</mat-header-cell>
                    <mat-cell *matCellDef="let row"><mat-icon>{{row.novembro}}</mat-icon></mat-cell>
                </ng-container>

                <ng-container matColumnDef="dezembro">
                    <mat-header-cell *matHeaderCellDef>DEZ</mat-header-cell>
                    <mat-cell *matCellDef="let row"><mat-icon>{{row.dezembro}}</mat-icon></mat-cell>
                </ng-container>

                <ng-container matColumnDef="participacao">
                    <mat-header-cell *matHeaderCellDef>% Anual</mat-header-cell>
                    <mat-cell *matCellDef="let row">{{row.participacao}}</mat-cell>
                </ng-container>
            </table>

            <div style="text-align: -webkit-center; margin-top: 5%;">
                <mat-spinner *ngIf="spinner"></mat-spinner>
            </div>

            <div style="text-align: -webkit-center; margin-top: 5%;">
                <span>
                    <h3 *ngIf="mensagemDeretorno" style="padding-left:25px;color: grey;">{{mensagemDeretorno }}</h3>
                </span>
            </div>
        </div>
        <h3>Total : {{relatorioPresenca.length}}</h3>
    </div>

    <div *ngIf="relatorioSelecionado == 17">
        <span>
            <h1 style="padding-left:25px;" *ngIf="relatorioSelecionado == 17">
                Relatório - Batizados </h1>
        </span>

        <div class="mat-elevation-z4" style="height: 600px;overflow: auto;">
            <table mat-table [dataSource]="relatorioMembrosAtivos" class="mat-elevation-z4 demo-table">
                <mat-header-row *matHeaderRowDef="ColunasGridBatizados"></mat-header-row>
                <mat-row *matRowDef="let row; columns: ColunasGridBatizados;"></mat-row>

                <ng-container matColumnDef="nome">
                    <mat-header-cell *matHeaderCellDef>Nome</mat-header-cell>
                    <mat-cell *matCellDef="let row">{{row.nome}}</mat-cell>
                </ng-container>

                <ng-container matColumnDef="rol">
                    <mat-header-cell *matHeaderCellDef>Número Rol</mat-header-cell>
                    <mat-cell *matCellDef="let row">{{row.rol}}</mat-cell>
                </ng-container>

                <ng-container matColumnDef="congregacao">
                    <mat-header-cell *matHeaderCellDef>Congregação</mat-header-cell>
                    <mat-cell *matCellDef="let row">{{row.congregacao}}</mat-cell>
                </ng-container>

                <!-- rol Column -->
                <ng-container matColumnDef="dataBatismo">
                    <mat-header-cell style="width: 2%;" *matHeaderCellDef>Data do Batismo</mat-header-cell>
                    <mat-cell *matCellDef="let row">{{row.dataBatismo | date : 'dd/MM/yyyy'}}</mat-cell>
                </ng-container>
            </table>
            <div style="text-align: -webkit-center; margin-top: 5%;">
                <mat-spinner *ngIf="spinner"></mat-spinner>
            </div>

            <div style="text-align: -webkit-center; margin-top: 5%;">
                <span>
                    <h3 *ngIf="mensagemDeretorno" style="padding-left:25px;color: grey;">{{mensagemDeretorno }}</h3>
                </span>
            </div>
        </div>
        <h3>Total : {{relatorioMembrosAtivos.length}}</h3>
    </div>


    <div *ngIf="relatorioSelecionado == 19">
        <span>
            <h1 style="padding-left:25px;" *ngIf="relatorioSelecionado == 19 && relatorioPastores.length > 0">
                Relatório - Pastores </h1>
        </span>

        <div class="mat-elevation-z4" style="height: 600px;overflow: auto;">
            <table mat-table [dataSource]="relatorioPastores" class="mat-elevation-z4 demo-table">
                <mat-header-row *matHeaderRowDef="ColunasGridPastores"></mat-header-row>
                <mat-row *matRowDef="let row; columns: ColunasGridPastores;"></mat-row>

                <ng-container matColumnDef="igreja">
                    <mat-header-cell *matHeaderCellDef>Igreja</mat-header-cell>
                    <mat-cell *matCellDef="let row">{{row.igreja}}</mat-cell>
                </ng-container>

                <ng-container matColumnDef="pastor">
                    <mat-header-cell *matHeaderCellDef>Pastor</mat-header-cell>
                    <mat-cell *matCellDef="let row">{{row.pastor}}</mat-cell>
                </ng-container>

                <ng-container matColumnDef="esposa">
                    <mat-header-cell *matHeaderCellDef>Esposa</mat-header-cell>
                    <mat-cell *matCellDef="let row">{{row.esposa}}</mat-cell>
                </ng-container>

                <ng-container matColumnDef="datainicial">
                    <mat-header-cell style="width: 2%;" *matHeaderCellDef>Data inicial</mat-header-cell>
                    <mat-cell *matCellDef="let row">{{row.datainicial}}</mat-cell>
                </ng-container>

                <ng-container matColumnDef="membrosinicial">
                    <mat-header-cell *matHeaderCellDef>Membros Inícial</mat-header-cell>
                    <mat-cell *matCellDef="let row">{{row.membrosinicial}}</mat-cell>
                </ng-container>

                <ng-container matColumnDef="membrossaida">
                    <mat-header-cell *matHeaderCellDef>Membros Saída</mat-header-cell>
                    <mat-cell *matCellDef="let row">{{row.membrossaida}}</mat-cell>
                </ng-container>

                <ng-container matColumnDef="saldomembros">
                    <mat-header-cell *matHeaderCellDef>Saldo Membros</mat-header-cell>
                    <mat-cell *matCellDef="let row">{{row.saldomembros}}</mat-cell>
                </ng-container>

                <ng-container matColumnDef="status">
                    <mat-header-cell *matHeaderCellDef>Status</mat-header-cell>
                    <mat-cell *matCellDef="let row">{{row.status}}</mat-cell>
                </ng-container>
                <!-- rol Column -->

            </table>
            <div style="text-align: -webkit-center; margin-top: 5%;">
                <mat-spinner *ngIf="spinner"></mat-spinner>
            </div>

            <div style="text-align: -webkit-center; margin-top: 5%;">
                <span>
                    <h3 *ngIf="mensagemDeretorno" style="padding-left:25px;color: grey;">{{mensagemDeretorno }}</h3>
                </span>
            </div>
        </div>
        <h3>Total : {{relatorioPastores.length}}</h3>
    </div>
</div>