<h1 style="text-align: center;">Relatórios</h1>
<div>
    <mat-form-field>
        <mat-select [(value)]="relatorioSelecionado" placeholder="Tipo de Relatório"
            (selectionChange)="RelatorioSelecionado()">
            <mat-option *ngFor="let tr of tipoRelatorio" [value]="tr.id">
                {{tr.value}}
            </mat-option>
        </mat-select>
    </mat-form-field>

    <!-- <div> -->
        <a *ngIf="relatorioSelecionado > 0 && imprimir" style="padding-left: 17px;" (click)="Imprimir()" class="edit">
            <img src="../../../../assets/Icons/Print.png" alt="Impressão do Relatorio">
        </a>

        <!-- <hr /> -->
    <!-- </div> -->

    <div *ngIf="relatorioSelecionado == 1 || relatorioSelecionado == 2">
        <span>
            <h1 *ngIf="relatorioSelecionado == 1">Relatório - Membros Ativos. </h1>
            <h1 *ngIf="relatorioSelecionado == 2">Relatório - Membros Inativos. </h1>
        </span>

        <table mat-table [dataSource]="relatorioMembrosAtivos" class="mat-elevation-z4 demo-table">
            <mat-header-row *matHeaderRowDef="ColunasGridMembrosAtivos"></mat-header-row>
            <mat-row *matRowDef="let row; columns: ColunasGridMembrosAtivos;"></mat-row>

            <ng-container matColumnDef="nome">
                <mat-header-cell *matHeaderCellDef>Nome</mat-header-cell>
                <mat-cell *matCellDef="let row">{{row.nome}}</mat-cell>
            </ng-container>

            <ng-container matColumnDef="rol">
                <mat-header-cell *matHeaderCellDef>Número Rol</mat-header-cell>
                <mat-cell *matCellDef="let row">{{row.rol}}</mat-cell>
            </ng-container>

            <ng-container matColumnDef="congregacao">
                <mat-header-cell *matHeaderCellDef>Congregação</mat-header-cell>
                <mat-cell *matCellDef="let row">{{row.congregacao}}</mat-cell>
            </ng-container>

            <!-- rol Column -->
            <ng-container matColumnDef="validadeCartaoMembro">
                <mat-header-cell style="width: 2%;" *matHeaderCellDef>Validade do Cartão de Membro</mat-header-cell>
                <mat-cell *matCellDef="let row">{{row.validadeCartaoMembro | date : 'dd/MM/yyyy'}}</mat-cell>
            </ng-container>

            
        </table>
        <h3>Total : {{relatorioMembrosAtivos.length}}</h3>
    </div>

    <div *ngIf="relatorioSelecionado == 3">
        <span>
            <h1 >Relatório - Idosos </h1>
        </span>

        <table mat-table [dataSource]="relatorioIdosos" class="mat-elevation-z4 demo-table">
            <mat-header-row *matHeaderRowDef="ColunasGridRelatorioIdosos"></mat-header-row>
            <mat-row *matRowDef="let row; columns: ColunasGridRelatorioIdosos;"></mat-row>
            ['nome', 'endereco', 'ultimaSantaCeia']
            <ng-container matColumnDef="nome">
                <mat-header-cell *matHeaderCellDef>Nome</mat-header-cell>
                <mat-cell *matCellDef="let row">{{row.nome}}</mat-cell>
            </ng-container>

            <ng-container matColumnDef="endereco">
                <mat-header-cell *matHeaderCellDef>Endereço</mat-header-cell>
                <mat-cell *matCellDef="let row">{{row.endereco}}</mat-cell>
            </ng-container>

            <!-- rol Column -->
            <ng-container matColumnDef="ultimaSantaCeia">
                <mat-header-cell style="width: 2%;" *matHeaderCellDef>Data da Ultima Ceia</mat-header-cell>
                <mat-cell *matCellDef="let row">{{row.ultimaSantaCeia | date : 'dd/MM/yyyy'}}</mat-cell>
            </ng-container>
            
        </table>
        <h3>Total : {{relatorioIdosos.length}}</h3>
    </div>

    <div *ngIf="relatorioSelecionado == 4">
        <span>
            <h2>Relatório - Aniversariantes do Mês</h2>
        </span>
        <table mat-table [dataSource]="relatorioAniversario" class="mat-elevation-z8 demo-table">
            <mat-header-row *matHeaderRowDef="Colunas"></mat-header-row>

            <ng-container matColumnDef="nome">
                <mat-header-cell *matHeaderCellDef hidden="true">Nome</mat-header-cell>
                <mat-cell *matCellDef="let row">{{row.nome}}</mat-cell>
            </ng-container>
            <!-- rol Column -->
            <ng-container matColumnDef="dataNascimento">
                <mat-header-cell style="width: 2%;" *matHeaderCellDef>Data de Nascimento</mat-header-cell>
                <mat-cell id="rol" *matCellDef="let row" hidden="true">{{row.dataNascimento | date :
                    'dd/MM/yyyy'}}</mat-cell>
            </ng-container>
            <mat-row *matRowDef="let row; columns: Colunas;"></mat-row>
        </table>
        <h3>Total : {{totalAniversariantes}}</h3>
    </div>
    
    <div *ngIf="relatorioSelecionado == 4">
        <hr />
        <span>
            <h1>Relatório - Aniversariantes de casamento. </h1>
        </span>

        <table mat-table [dataSource]="relatorioAniCasamento" class="mat-elevation-z4 demo-table">
            <mat-header-row *matHeaderRowDef="ColunasGridCasamento"></mat-header-row>

            <ng-container matColumnDef="nome">
                <mat-header-cell *matHeaderCellDef>Nome</mat-header-cell>
                <mat-cell *matCellDef="let row">{{row.nome}}</mat-cell>
            </ng-container>

            <ng-container matColumnDef="nomeConjuge">
                <mat-header-cell *matHeaderCellDef>Nome da Esposa</mat-header-cell>
                <mat-cell *matCellDef="let row">{{row.nomeConjuge}}</mat-cell>
            </ng-container>

            <!-- rol Column -->
            <ng-container matColumnDef="dataCasamento">
                <mat-header-cell style="width: 2%;" *matHeaderCellDef>Data de Casamento</mat-header-cell>
                <mat-cell *matCellDef="let row">{{row.dataCasamento | date :
                    'dd/MM/yyyy'}}</mat-cell>
            </ng-container>

            <ng-container matColumnDef="quantidadeAnosCasado">
                <mat-header-cell style="width: 2%;" *matHeaderCellDef>Anos de Casados</mat-header-cell>
                <mat-cell *matCellDef="let row" hidden="true">{{row.quantidadeAnosCasado}} Ano(s)</mat-cell>
            </ng-container>
            <mat-row *matRowDef="let row; columns: ColunasGridCasamento;"></mat-row>
        </table>
        <h3>Total : {{totalAniversariantesCasamento}}</h3>
    </div>

    <div *ngIf="relatorioSelecionado == 5">
        <hr />
        <span>
            <h1>Relatório - Membros / Participação Ceia. </h1>
        </span>

        <table mat-table [dataSource]="relatorioCeia" class="mat-elevation-z4 demo-table">
            <mat-header-row *matHeaderRowDef="ColunasGridRelatorioCeia"></mat-header-row>
            <mat-row *matRowDef="let row; columns: ColunasGridRelatorioCeia;"></mat-row>
            
            <ng-container matColumnDef="nome">
                <mat-header-cell *matHeaderCellDef>Nome</mat-header-cell>
                <mat-cell *matCellDef="let row">{{row.nome}}</mat-cell>
            </ng-container>

            <ng-container matColumnDef="janeiro">
                <mat-header-cell *matHeaderCellDef>JAN</mat-header-cell>
                <mat-cell *matCellDef="let row">{{row.janeiro}}</mat-cell>
            </ng-container>

            <ng-container matColumnDef="fevereiro">
                <mat-header-cell *matHeaderCellDef>FEV</mat-header-cell>
                <mat-cell *matCellDef="let row">{{row.fevereiro}}</mat-cell>
            </ng-container>

            <ng-container matColumnDef="marco">
                <mat-header-cell *matHeaderCellDef>MAR</mat-header-cell>
                <mat-cell *matCellDef="let row">{{row.marco}}</mat-cell>
            </ng-container>

            <ng-container matColumnDef="abril">
                <mat-header-cell *matHeaderCellDef>ABR</mat-header-cell>
                <mat-cell *matCellDef="let row">{{row.abril}}</mat-cell>
            </ng-container>

            <ng-container matColumnDef="maio">
                <mat-header-cell *matHeaderCellDef>MAI</mat-header-cell>
                <mat-cell *matCellDef="let row">{{row.maio}}</mat-cell>
            </ng-container>

            <ng-container matColumnDef="junho">
                <mat-header-cell *matHeaderCellDef>JUN</mat-header-cell>
                <mat-cell *matCellDef="let row">{{row.junho}}</mat-cell>
            </ng-container>

            <ng-container matColumnDef="julho">
                <mat-header-cell *matHeaderCellDef>JUL</mat-header-cell>
                <mat-cell *matCellDef="let row">{{row.julho}}</mat-cell>
            </ng-container>

            <ng-container matColumnDef="agosto">
                <mat-header-cell *matHeaderCellDef>AGO</mat-header-cell>
                <mat-cell *matCellDef="let row">{{row.agosto}}</mat-cell>
            </ng-container>

            <ng-container matColumnDef="setembro">
                <mat-header-cell *matHeaderCellDef>SET</mat-header-cell>
                <mat-cell *matCellDef="let row">{{row.setembro}}</mat-cell>
            </ng-container>

            <ng-container matColumnDef="outubro">
                <mat-header-cell *matHeaderCellDef>OUT</mat-header-cell>
                <mat-cell *matCellDef="let row">{{row.outubro}}</mat-cell>
            </ng-container>

            <ng-container matColumnDef="novembro">
                <mat-header-cell *matHeaderCellDef>NOV</mat-header-cell>
                <mat-cell *matCellDef="let row">{{row.novembro}}</mat-cell>
            </ng-container>

            <ng-container matColumnDef="dezembro">
                <mat-header-cell *matHeaderCellDef>DEZ</mat-header-cell>
                <mat-cell *matCellDef="let row">{{row.dezembro}}</mat-cell>
            </ng-container>

            <ng-container matColumnDef="participacao">
                <mat-header-cell *matHeaderCellDef>% Anual</mat-header-cell>
                <mat-cell *matCellDef="let row">{{row.participacao}}</mat-cell>
            </ng-container>
            
        </table>
        <h3>Total : {{relatorioCeia.length}}</h3>
    </div>

</div>