<div style="padding: 25px; text-align: center;">
   <h2>Informe o nome do lider para impressão.</h2>
    <mat-form-field appearance="outline">
        <mat-label>Nome do Lider</mat-label>
        <input matInput placeholder="Nome do Lider" [(ngModel)]="nomeLider" name="nome">
    </mat-form-field>
    <p>
    <mat-form-field appearance="outline">
        <mat-label>Nome do Pai</mat-label>
        <input [disabled]="this.dadosTela.idPai != ''" matInput placeholder="Nome do Lider" [(ngModel)]="this.nomepai" name="nome">
    </mat-form-field>
    <p>
    <mat-form-field appearance="outline">
        <mat-label>Nome da Mãe</mat-label>
        <input [disabled]="this.dadosTela.idMae != ''" matInput placeholder="Nome do Lider" [(ngModel)]="this.nomemae" name="nome">
    </mat-form-field>

    <p>
    <a>
        <i class="posicao" style="padding-left: 5px;" class="material-icons" (click)="Cancelar()">cancel</i>
    </a>
    <a>
        <i class="posicao" style="padding-left: 5px;" class="material-icons" (click)="Selecionar()">save</i>
    </a>
</div>