<?xml version="1.0" encoding="utf-8"?>
<configuration>
<system.webServer>
  
  <security>
	  <authorization>
                <remove users="*" roles="" verbs="" />
                <add accessType="Allow" users="?" />
       </authorization>
   </security>
	<staticContent>
        <remove fileExtension=".woff" />
        <mimeMap fileExtension=".woff2" mimeType="application/font-woff2" />
        <mimeMap fileExtension=".woff" mimeType="application/x-font-woff" />
    </staticContent>
  <rewrite>
    <rules>
      <rule name="secretaria" stopProcessing="true">
        <match url=".*" />
        <conditions logicalGrouping="MatchAll">
          <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
          <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
        </conditions>
        <action type="Rewrite" url="./index.html" />
      </rule>
    </rules>
  </rewrite>
</system.webServer>

</configuration>